body {
  font-family: sans-serif;
}

.header-bg {
    width: 100%;
    min-height: 350px;
    background: url(../images/header.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    background-position: bottom center !important;
}
.banner-caption {
  position: absolute;
  width: 100%;
  transition: 0.5s all ease;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  left: 0;
}

.stick {
  position: fixed;
  top: 0;
  right: 0;
  bottom: inherit;
  left: 0;
  width: 100%;
  z-index: 111;
  padding: 10px 0;
  background-image: linear-gradient(-20deg, #ccc 0%, #fff 100%);
  transition: 0.3s all ease;
}

.element-item {
  overflow: hidden;
  margin-bottom: 10px;
}

.element-item a {
  line-height: 0;
  display: block;
}

.element-item img {
  transition: 0.3s all ease;
}

.element-item:hover img {
  transform: scale(1.1);
}
