/* banner-1 */
#banner {
    font-family: 'Lato', sans-serif;
}

#banner .carousel img{
    height: 100vh;
}
.banner-1 {
    background: url(../../images/banner/bannerbg-1.jpg) no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    color: #FFF;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    width: 100%;
}

.banner-1:after {
    background: rgba(0, 0, 0, 0.6);
    content: '';
    height: 100%;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.banner1-content {
    margin-top: 270px;
    position: relative;
    z-index: 1;
}

.banner1-header1 {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}

.banner1-header2 {
    font-size: 96px;
    font-weight: 700;
    margin-bottom: 60px;
    margin-top: 10px;
}

/* Mouse Scroll Animation */

.mouse {
    height: 38px;
    width: 24px;
    border-radius: 14px;
    border: 2px solid #FFFFFF;
    margin: 0 auto 120px;
}
.mouse-round{
    height: 38px;
    width: 38px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
}
.mouse .mouse-scroll {
    margin-top: 40px;
}

.mouse .m-scroll-arrows {
    display: block;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    margin: 0 0 5px 4px;
    width: 12px;
    height: 12px;
}

.mouse-round .m-scroll-arrows {
    display: block;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    margin: 0 0 -6px 11px;
    width: 12px;
    height: 12px;
}

.mouse-round .mouse-scroll {
    margin-top: 10px;
}

.mouse .unu {
    margin-top: 1px;
}

.mouse .unu,
.mouse .doi,
.mouse .trei {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
}

.mouse .unu {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
}

.mouse .doi {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
    margin-top: -6px;
}

.mouse .trei {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;
    margin-top: -6px;
}

.mouse .wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
    height: 4px;
    width: 4px;
    border: 2px solid #FFFFFF;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.mouse .wheel {
    -webkit-animation: mouse-wheel 0.6s linear infinite;
    -moz-animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-moz-keyframes mouse-wheel {
    0% {
        top: 1px;
    }
    25% {
        top: 2px;
    }
    50% {
        top: 3px;
    }
    75% {
        top: 2px;
    }
    100% {
        top: 1px;
    }
}

@-webkit-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

/* Mouse Scroll Animation */

/* #media-queries begin */
@media screen and (max-width: 520px) {
    /* #banner-1 begin */
    .banner1-content {
        margin-top: 100px;
    }

    .banner1-header1 {
        font-size: 26px;
    }

    .banner1-header2 {
        font-size: 54px;
        line-height: 1.2;
        margin-top: 40px;
    }
    /* #banner-1 end */
}

@media screen and (min-width: 521px) and (max-width: 767px) {
    /* #banner-1 begin */
    .banner1-content {
        margin-top: 130px;
    }

    .banner1-header1 {
        font-size: 38px;
    }

    .banner1-header2 {
        font-size: 64px;
        line-height: 1.3;
        margin-top: 40px;
    }
    /* #banner-1 end */
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    /* #banner-1 begin */
    .banner1-content {
        margin-top: 130px;
    }

    .banner1-header2 {
        font-size: 76px;
        line-height: 1.4;
        margin-top: 50px;
    }
    /* #banner-1 end */
}

/* banner-1 */

/* banner-2 */

.banner-2 {
    background: #EDEEF3;
    color: #535353;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    width: 100%;
    top: 0;
}

.banner-2 .container{
    position: static;
}

.banner2-content {
    margin-top: 160px;
}

.banner2-header {
    font-size: 72px;
    font-weight: 500;
    margin-bottom: 0;
}

.banner2-para {
    color: #555;
    font-size: 18px;
    margin: 0 auto;
    width: 90%;
}

.banner2-button {
    background: #00A3D9;
    border: 1px solid #00A3D9;
    color: #FFF;
    display: inline-block;
    font-size: 27px;
    margin-top: 70px;
    padding: 14px 49px;
    text-transform: uppercase;
    transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
}

.banner2-button:hover {
    background: transparent;
    border: 1px solid #00A3D9;
    color: #00A3D9;
}

.image-sprites img {
    z-index: -1;
}

.image-sprites img.left-top {
    position: absolute;
    top: 0;
    left: 0;
}

.image-sprites img.left-bottom {
    bottom: 0;
    position: absolute;
    left: 0;
}

.image-sprites img.center-bottom {
    bottom: -30px;
    position: relative;
}

.image-sprites img.center-bottomo {
    bottom: 70px;
    left: 250px;
    position: relative;
}

.image-sprites img.right-top {
    position: absolute;
    right: 0;
    top: 0;
}

.image-sprites img.right-bottom {
    bottom: 0;
    position: absolute;
    right: 0;
}

/

/* #media-queries begin */


@media screen and (max-width: 520px) {
    /* #banner-1 begin */
    .image-sprites {
        display: none;
    }

    .banner2-content {
        margin-top: 120px;
    }

    .banner2-header {
        font-size: 48px;
        line-height: 1.1;
        margin-bottom: 30px;
    }

    .banner2-button {
        font-size: 18px;
        margin-top: 70px;
        padding: 14px 24px;
    }

    /* #banner-1 end */
}

@media screen and (max-width: 767px) {
    .banner-2 {
        background: url('../../images/banner/bannerbg-2.jpg') no-repeat;
    }

    .banner2-header, .banner2-para {
        color: #FFF;
        text-shadow: 1px 0 1px #606060;
    }
}

@media screen and (min-width: 521px) and (max-width: 767px) {
    /* #banner-1 begin */
    .image-sprites {
        display: none;
    }

    .banner2-content {
        margin-top: 120px;
    }

    .banner2-header {
        font-size: 64px;
        line-height: 1.2;
        margin-bottom: 30px;
    }

    .banner2-para {
        font-size: 24px;
    }

    .banner2-button {
        font-size: 22px;
        margin-top: 70px;
        padding: 14px 29px;
    }
    /* #banner-1 end */
}

@media screen and (max-width: 520px) {
    /* #banner-1 begin */
    .image-sprites {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    /* #banner-1 begin */
    .banner1-content {
        margin-top: 130px;
    }

    .banner1-header2 {
        font-size: 76px;
        line-height: 1.4;
        margin-top: 50px;
    }
    /* #banner-1 end */
}

@media (max-width: 1400px){
    .image-sprites img.left-top {
        width: 115px;
    }
}

/* banner-2 */

/*banner-3 */

.banner-3 {
    background: url(../../images/banner/background-1.jpg) no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    color: #FFF;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    width: 100%;
}

.banner-3:after {
    background: rgba(0, 0, 0, 0.9);
    content: '';
    height: 100%;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.banner-3 .banner1-content {
    margin-top: 200px;
}

/*banner -3 */
.banner-4 {
    background: url(../../images/banner/bannerbg-3.jpg) no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    color: #FFF;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    width: 100%;
}

.banner-4 .banner1-content {
    margin-top: 200px;
}

.banner-4 .banner1-header1 {
    font-size: 36px;
}

.banner-4  .banner1-header2{
    margin-bottom: 35px;
    font-size: 72px;
}

.banner4-button{
    background: transparent;
    border: 1px solid #fff;
    color: #FFF;
    display: inline-block;
    font-size: 18px;
    padding: 10px 40px;
    text-transform: uppercase;
    transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
}
.banner4-button:hover{
    background: #FF8000;
    border: 1px solid #FF8000;
    color: #fff;
}

@media (max-width: 768px) {
    .banner-4 .banner1-content{
        margin-top: 100px;
    }
}

/*banner -4 end*/


/*banner -5*/
.banner-5 {
    background: url(../../images/banner/consulting-bg.jpg) no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    color: #FFF;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    width: 100%;
}

.banner-5:after {
    background: rgba(0, 0, 0, 0.69);
    content: '';
    height: 100%;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.banner5-content {
    margin-top: 230px;
    position: relative;
    z-index: 1;
}

.banner5-content h2{
    font-size: 48px;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 0;
}

.banner5-content h3{
    font-size:73px; 
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15px;
}

.banner5-content p{
    font-size:22px;
}

.banner5-content a.btn{
    background: #00B259;
    color: #fff;
    border-radius: 30px;
    border: 1px solid #00B259;
    font-size: 22px;
    padding: 15px 40px;
    margin-top:20px;
}
.banner5-content a.btn:hover{
    background: transparent;
    color: #00B259;
}

@media (max-width:991px) {
    .banner5-content h2 {
        font-size: 26px;
    }
    .banner5-content h3 {
        font-size: 66px;
    }
    .banner5-content p {
        font-size: 20px;
    }
}

@media (max-width:767px) {
    .banner5-content h2 {
        font-size: 24px;
    }
    .banner5-content h3 {
        font-size: 60px;
    }
}

@media (max-width:600px) {
    .banner5-content {
        margin-top: 160px;
    }
    .banner5-content h2 {
        font-size: 20px;
    }
    .banner5-content h3 {
        font-size: 48px;
    }
    .banner5-content p {
        font-size: 18px;
    }
}
/*banner -5 end*/

/*fashion banner*/
.fashion-banner{
    background: url(../../images/banner/fashion-banner.jpg) no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    color: #FFF;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    width: 100%;
}

.fashion-banner .banner-holder {
    position: relative;
    transform: translate(0,90%);
    z-index: 9;
}

.fashion-banner .banner-holder .fashion-box{
    border-color: #111;
    color: #111;
    margin-bottom: 40px;
}

.fashion-banner .btn-round{
    width: 70px;
    height: 70px;
    border: 1px solid #111;
    border-radius: 50%;
    margin:0 auto;
    line-height: 70px;
}

.fashion-banner .btn-round .mouse{
    border: 2px solid #555;
    margin: 13px auto 0;
}

.fashion-banner .btn-round .mouse .wheel{
    background: #555;
    border-color: #555;
}
/*fashion banner end*/

/* wedding banner begins */
.banner-wedding {
    background: url(../../images/banner/banner-wedding.jpg) no-repeat;
    background-position: top center;
    background-size: cover;
    color: #FFF;
    height: 100vh;
    background-attachment: fixed;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top:0;
}

.banner-wedding .wedding-info {
    background: rgba(255, 255, 255, 0.29);
    height: 370px;
    width: 370px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    transform: translate(0, 40%);
}

.banner-wedding .wedding-info:after {
    content: '';
    background: #DC0121;
    display: block;
    height: 354px;
    width: 354px;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-wedding .wedding-info-text {
    position: relative;
    z-index: 1;
    height: 100%;
}

.banner-wedding .wedding-info-text .wedding-groom,
.banner-wedding .wedding-info-text .wedding-bride {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -40%);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
    border: 7px solid rgba(255, 255, 255, 0.3);
}

.banner-wedding .wedding-info-text .wedding-groom {
    top: 0;
}

.banner-wedding .wedding-info-text .wedding-bride {
    bottom: 0;
    transform: translate(-50%, 40%);
}

.banner-wedding .wedding-info-text h2 {
    margin-bottom: 0;
}

.banner-wedding .wedding-info .uppertext,
.banner-wedding .wedding-info .middletext,
.banner-wedding .wedding-info .lowertext {
    position: relative;
}

.banner-wedding .uppertext h2,
.banner-wedding .lowertext h2 {
    font-size: 18px;
    color: #EDEDED;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
}

.banner-wedding .uppertext {
    top: 18%;
    transform: translate(0, -18%);
}

.banner-wedding .lowertext {
    bottom: -29%;
    transform: translate(0, 29%);
}


.banner-wedding .lowertext h2 {
    color: #FFF;
}

.banner-wedding .uppertext h2:before,
.banner-wedding .uppertext h2:after {
    content: '\f006';
    font-family: 'fontawesome';
    position: absolute;
    bottom: -60%;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

.banner-wedding .uppertext h2:before {
    left: 20%;
    transform: translate(-20%, 0);
}

.banner-wedding .uppertext h2:after {
    right: 20%;
    transform: translate(-20%, 0);
}

.banner-wedding .middletext h2 {
    color: #FFF;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
    padding: 4px 0;
}

.banner-wedding .middletext {
    top: 32%;
    transform: translate(0, -32%);
}

.banner-wedding .middletext span {
    display: block;
    margin: 10px 0;
}

.banner-wedding .middletext:before {
    content: '';
    display: block;
    background: rgba(255, 255, 255, 0.58);
    height: 1px;
    width: 80%;
    position: absolute;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, 0);
}

.banner-wedding .middletext h2:before {
    content: '';
    display: block;
    background: rgba(255, 255, 255, 0.58);
    height: 1px;
    width: 75%;
    position: absolute;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, 0);
}

.banner-wedding .middletext:after {
    content: '';
    display: block;
    background: rgba(255, 255, 255, 0.58);
    height: 1px;
    width: 80%;
    position: absolute;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, 0);
}

.banner-wedding .middletext h2:after {
    content: '';
    display: block;
    background: rgba(255, 255, 255, 0.58);
    height: 1px;
    width: 75%;
    position: absolute;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, 0);
}

.banner-wedding .middletext i {
    font-size: 18px;
    font-weight: normal;
}

.banner-wedding .lowertext h2:before,
.banner-wedding .lowertext h2:after {
    content: '\f006';
    font-family: 'fontawesome';
    position: absolute;
    top: -40%;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

.banner-wedding .lowertext h2:before {
    left: 20%;
    transform: translate(-20%, 0);
}

.banner-wedding .lowertext h2:after {
    right: 20%;
    transform: translate(-20%, 0);
}

@media (max-width: 400px){

}

/* wedding banner ends */

/*Seo Banner*/
#seo-particle-js canvas {
  display: block;
  vertical-align: bottom;
}

#seo-particle-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.banner-2.banner-seo .overlay{
    position: absolute;
    background: url(../../images/banner/seo-banner-overlay.png);
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
}

.banner-2.banner-seo .container {
    position: relative;
    top: 30%;
}

.banner-2.banner-seo .section-heading h2{
    font-size: 46px;
    color: #fff;
    font-weight: 500;
}

.banner-2.banner-seo .section-para p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 22px;
}

.banner-2.banner-seo form .intro-input {
    position: relative;
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
}

.banner-2.banner-seo form .intro-input input {
    background: #fff;
    color: #999;
    height: 60px;
    width: 100%;
    padding-right: 150px;
    border: 0;
    font-size: 18px;
    padding-right: 200px;
    line-height: 60px;
}

.banner-2.banner-seo form .intro-input span.search-button {
    position: absolute;
    right: 0;
    top: 0;
}

.banner-2.banner-seo form .intro-input span.search-button button {
    background: #FF9600;
    border-radius: 0;
    height: 60px;
    border: none;
    padding: 0 40px;
    font-size: 18px;
    text-transform: uppercase;
}

.banner-2.banner-seo form .intro-input span.search-button button:hover{
    background: #CC7A00;
}


.banner-2.banner-seo .feature-image{
    margin-top: 35px;
}

@media (max-width: 991px){
    .banner-2.banner-seo form .intro-input {
        width: 100%;
    }

}

@media (max-width: 767px) {
    .banner-2.banner-seo .section-heading h2 {
        font-size: 40px
    }
}

@media (max-width: 600px) {
    .banner-2.banner-seo form .intro-input span.search-button {
        position: relative;
    }
    .banner-2.banner-seo .feature-image {
        display: none;
    }
    .banner-2.banner-seo form .intro-input input {
        padding-right: 10px;
    }
}

/*banner seo end*/


