.blog img{
	width:100%
}
.blog-post h3 a{
	font-weight: 400;
    line-height: 1.3;
    color: #555;
}

.blog-post h3 a:hover{
	color: #00A3D8
}

.blog-post h3{
	font-size:24px;
	margin-bottom: 10px;
}

.blog-post .section-para{
	width:100%;
	margin-top: 15px;
}

.blog-post .date {
    margin-bottom: 5px;
    color: #555;
    font-size: 14px;
}

.blog-post button {
    background: transparent none repeat scroll 0% 0%;
    color: rgb(95, 95, 95);
    text-align: left;
    padding: 0px;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.blog-post button i {
    margin-left: 10px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.blog-post button:hover i {
    margin-left: 15px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.blog-post .image-holder{
	overflow:hidden;
    position: relative;
}

.blog-post .image-holder img {
    transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -webkit-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
}
.blog-post .image-holder:hover img {
    transform: scale(1.2) rotateZ(-5deg);
    -moz-transform: scale(1.2) rotateZ(-5deg);
    -webkit-transform: scale(1.2) rotateZ(-5deg);
    -o-transform: scale(1.2) rotateZ(-5deg);
}

@media (max-width: 767px) {
    .blog-post { 
        margin: 20px 0px;
    }
}

/*blog construction*/
.image-holder .abs-date{
    position: absolute;
    top: 5px;
    left: 5px;
    background: #FBBC0D;
    height: 70px;
    width: 95px;
    padding: 6px 20px;
}

.image-holder .abs-date p{
    margin: 0;
    color: #fff;
    text-align: center;
}

.image-holder .abs-date p.month:after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #fff;
    margin: 5px auto;
}

.construction-blog .blog-post h3 {
    font-size: 20px;
    margin-top: 20px;
}

.construction-blog .blog-post h3 a {
    font-weight: 600;
}

.construction-blog .blog-post h3 a:hover{
    color: #FBBC0D;
}

.construction-blog .blog-post .section-para p {
    font-size: 16px;
    }
/*medicine*/
/* latest-news1 */
.latest-news1 .latest-single {
    background: #FFF;
    border: 1px solid #EEE;
}

.latest-news1 .img-holder {
    position: relative;
}

.latest-news1 .thumb-holder {
    height: 53px;
    width: 53px;
    position: absolute;
    bottom: 0;
    left: 15px;
}

.latest-news1 .thumb-holder img {
    border-radius: 50%;
    position: absolute;
    bottom: -20px;
    border: 4px solid #FFF;
}

.latest-news1 .latest-news-context {
    padding: 0 20px;
    margin-top: 30px;
}

.latest-news1 .news-heading {
    padding-bottom: 0;
}

.latest-news1 .news-heading a {
    font-size: 26px;
    color: #545454;
    line-height: 1.3;
    font-weight: 600;
}

.latest-news1 .news-para p {
    color: #545454;
    font-size: 18px;
}

.latest-news1 .latest-news-context ul {
    margin-top: 10px;
}

.latest-news1 .latest-news-context ul li {
    display: inline-block;
    color: #666;
    font-size: 18px;
    margin-right: 20px;
}

.latest-news1 .latest-news-context ul li a{
    color: #555;
}

.latest-news1 .latest-news-context ul li:last-child {
    margin-right: 0;
}

.latest-news1 .latest-news-context ul i {
    color: #555;
    margin-right: 6px;
}

.latest-news-context .Readmore{
    background: #FF8000;
    border: 1px solid #FF8000;
    color: #fff;
    padding: 8px 35px;
    border-radius: 30px;
    margin: 20px 0;
    display: inline-block;
    font-size: 18px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.latest-news-context .Readmore:hover{
    color: #FF8000;
    background: #fff;
}

/*blog plumber*/
.latest-news1 .latest-single .date-holder{
    position: absolute;
    top:10px;
    left:10px;
    display: block;
}

.latest-news1 .latest-single .date-holder ul{
    border-radius: 5px;
    overflow: hidden;
    background: rgba(240, 84, 45, 0.8);
}

.latest-news1 .latest-single .date-holder ul li{
    height: 38px;
    width: auto;
    line-height: 38px;
    display: inline-block;
    padding: 0 10px;
    color: #fff;
    text-transform: uppercase;
}

.latest-news1 .latest-single .date-holder ul li.date{
    background: rgba(0, 0, 0, 0.8);
}
/*blog plumber end */

/*blog restaurant*/
.restaurent-blog{
    margin-top:60px;
}

.restaurent-blog .blog-single button.category{
    color:#FF8000;
    border: 1px solid #FF8000;
    border-radius: 0;
    background: transparent;
    padding:5px 20px;
    margin-bottom: 15px;
}

.restaurent-blog .blog-single .blog-heading{
    margin-bottom: 5px;
}

.restaurent-blog .blog-single .blog-heading a{
    font-weight: 600;
    color: #333;
    font-size: 20px;
    line-height: 1.2;
}

.restaurent-blog .blog-single .post-date{
    margin-bottom:10px;
}

.restaurent-blog .blog-single .post-date:after{
    content: '';
    display:block;
    margin:10px 0;
    height:2px;
    width: 42px;
    background: #D3D3D3;
}

.restaurent-blog .blog-single .post-date span{
    color: #FF8000;
    margin-bottom: 10px;
}

.restaurent-blog .blog-single .btn.readmore{
    color: #FF8000;
    border: 1px solid #FF8000;
    background: transparent;
    border-radius: 30px;
    padding: 8px 25px;
    margin-top:15px;
    font-weight: 500;
    font-size: 18px;
}

.restaurent-blog .blog-single .btn.readmore:hover{
    color: #fff;
    background: #FF8000;
}

.restaurent-blog .owl-dots{
    margin-top:40px;
}
/*blog restaurant end */

/*blog social*/
.carousel .blog-holder{
    margin-top: 60px;
}

.blog-holder .blog-social .blog-single {
    background: #fff;
}

.blog-holder .blog-social .blog-single .blog-description{
    padding: 20px 20px 0;
}

.blog-holder .blog-social .blog-single .blog-description .blog-heading a{
    font-size: 18px;
    font-weight: 600;
    color: #444;
}

.blog-holder .blog-social .blog-single .blog-description .section-para p{
    font-size: 16px;
}

.blog-holder .blog-social .owl-dots{
    text-align: center;
    margin-top: 30px;
}

.blog-progress {
    position: relative;
    width: 100%;
    border-radius: 8px;
    overflow-x: hidden;
    padding: 60px 0 10px;
    margin: 0 auto;
}

.blog-progress:before {
    width: 100%;
    height: 5px;
    content: "";
    display: block;
    position: absolute;
    background: #eee;
}

.blog-progress .progress-bar {
    background: #eee;
    width: 100%;
    height: 5px;
    display: block;
    position: relative;
    border-radius: 8px;
}

.blog-progress .progress-bar .bar {
    background: #29AF8A;
    background-size: 15px 15px;
    height: 100%;
    position: relative;
}

.blog-progress .progress-bar .bar span:after{
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    bottom: -5px;
    left: 50%;
    border-color: #29AF8A transparent transparent transparent;
    transform: translate(-50%, 0);
}

.blog-progress .progress-bar .bar span{
    color: #fff;
    position: absolute;
    top: -45px;
    z-index: 9999;
    background: #29AF8A;
    padding: 3px 15px;
    right: -30px;
}

.blog-holder .blog-social .blog-single .blog-description ul{
    margin-bottom: 0;
}

.blog-holder .blog-social .blog-single .blog-description ul li{
    width:49%;
    display: inline-block;
    position: relative;
}

.blog-holder .blog-social .blog-single .blog-description ul li:first-child{
    border-right: 1px solid #eee;
}
.blog-description ul li .list-desc p{
    font-size:12px;
    color: #999;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 20px;
}
.blog-description ul li .list-desc h4{
    font-size:24px;
    color: #545454;
    margin-bottom: 10px;
}
.blog-description ul li .list-desc h4:before{
    content: '$';
    margin-right: 5px;
}
/*blog social end*/

/* blog vehicle begins */
.vehicle-blog .section-para {
    margin-top: 15px;
}

.vehicle-blog .section-heading h2 {
    color: #FFF;
    font-weight: 400;
}

.vehicle-blog .section-para p {
    color: #FFF;
}
.vehicle-blog a.external-link {
    color: #FFF;
}
.vehicle-blog .vehicle-blog-single {
    display: inline-block;
    height: 370px;
    overflow: hidden;
}
.vehicle-blog .vehicle-blog-heading {
    margin-top: 25px;
}
.vehicle-blog .vehicle-blog-heading a {
    color: #FFF;
    font-size: 24px;
    line-height: 1.2;
}

.vehicle-blog .vehicle-blog-heading i {
    float: right;
    font-size: 15px;
    margin-top: 10px;
    color: #75706e;
}

.vehicle-blog .vehicle-blog-para {
    margin-top: 10px;
    width: 90%;
}

.vehicle-blog .vehicle-blog-para p {
    margin-bottom: 0;
}

.vehicle-blog .vehicle-blog-button {
    margin-top: 40px;
}

.vehicle-blog .vehicle-blog-button a {
    color: #FFF;
    display: inline-block;
    padding: 9px 24px;
    border: 1px solid #FFF;
    border-radius: 20px;
}

.vehicle-blog .vehicle-blog-button a:hover {
    background: #FFF;
    color: #000;
}
@media (max-width: 767px) {
    .vehicle-blog .vehicle-blog-single {
        height: inherit;
    }
}
/* blog vehicle ends */

/*Education Latest News*/
.latest-education .news-heading .image-holder,
.latest-education .title-only-news .image-holder{
    position: relative;
}

.latest-education .title-only-news .image-holder:after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(246,246,246,0) 0%, rgba(160,160,160,0) 35%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(0%, rgba(246,246,246,0)), color-stop(35%, rgba(160,160,160,0)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(246,246,246,0) 0%, rgba(160,160,160,0) 35%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(246,246,246,0) 0%, rgba(160,160,160,0) 35%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(246,246,246,0) 0%, rgba(160,160,160,0) 35%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(246,246,246,0) 0%, rgba(160,160,160,0) 35%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
    z-index: 1;
}

.latest-education .news-heading button,
.latest-education .title-only-news button{
    position: absolute;
    top:10px;
    right: 10px;
    background: #00B285;
    border-radius: 0;
    color: #fff;
    padding: 8px 25px;
    border: none;
    font-weight: 600;
}

.latest-education .news-heading{
    border-top: 0;
}

.latest-education .news-heading .date{
    margin:10px 0;
    color: #999;
}

.latest-education .news-heading ul li img{
    width: 58px;
    height: 58px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.latest-education .news-heading ul li span{
    display: inline-block;
    margin-left: 10px;
}

.latest-education .news-heading ul {
    margin: 20px 0;
    padding-top: 10px;
    border-top: 1px solid #eee;
    width: 100%;
}

.latest-education .title-only-news .news-heading ul{
    margin: 0;
    padding-top: 0;
    border-top: none;
}

.latest-education .title-only-news{
    position: relative;
}

.latest-education .title-only-news .news-heading{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    z-index: 2;
}

.latest-education .title-only-news .news-heading a{
    color: #fff;
}

.latest-education .blockquote-news{
    background: #0085B2;
    padding: 30px;
}

.latest-education .blockquote-news blockquote{
    color: #fff;
    margin:0;
    font-size: 26px;
    font-weight: 600;
}
.latest-education .blockquote-news p{
    text-align: right;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    margin: 0px;
}

.latest-education .blockquote-news p:before{
    content: '\f10e';
    display: inline-block;
    font-family: 'fontawesome';
    font-size: 32px;
    color: rgba(34, 34, 34, 0.32);
    margin-right: 15px;
}

.latest-education .advertise-div{
    background:#FF5C26;
    margin-top:20px;
    padding:60px 30px;
}

.latest-education .advertise-div i{
    font-size: 32px;
    color: #fff;
}

.latest-education .advertise-div h3 a{
    color: #fff;
}

.latest-education .advertise-div h3{
    margin-bottom: 0;
}
/*Education Latest News end*/

/*Video Blog Grid */
.blog-grid-video ol {
    counter-reset: li;
}
.blog-grid-video ol > li{
    border-bottom: 1px solid #eee;
    padding: 20px 0;
}

.blog-grid-video ol > li:last-child{
    border: none;
}

.blog-grid-video ol > li:before {
    position: relative;
    content: counter(li) ".";
    counter-increment: li;
    color: #ddd;
    font-weight: 600;
    font-size: 50px;
    bottom: 0;
    line-height: 1;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.blog-grid-video li .news-heading{
    display: inline-block;
    width: 80%;
    padding-bottom: 0;
}

.blog-grid-video li .news-heading h3{
    font-size: 20px;
    color: #333;
    line-height: 1.5;
}

.blog-grid-video li .news-heading ul li{
    color: #333;
}

.blog-grid-video li .news-heading ul li a{
    color: #333;
}

.video-blog .news-heading .btn.bg-red{
    border-radius: 30px;
    border-color: #D60B1B;
    padding: 6px 30px;
}

.video-blog .news-heading h3{
    font-size: 22px;
    margin: 15px 0 10px;
    color: #333;
    font-weight: 600;
}

.video-blog .news-heading p{
    margin-bottom: 10px;
}

.video-blog .news-heading{
    border-bottom: 1px solid #eee;
}

.video-blog .news-heading:last-child{
    border: none;
}

.video-blog .news-heading .btn.more {
    border-color: #D60B1B;
    color: #D60B1B;
    margin: 10px 0 0;
}

.video-blog .news-heading .btn.more:hover{
    background: #D60B1B;
    color: #fff; 
}

.video-blog .news-heading .btn.more i{
    margin-right: 10px;
}

.blog-grid-video .left-grid .section-heading h2{
    margin-bottom: 0;
}

.blog-grid-video .left-grid .section-heading{
    margin-bottom: 30px;
}

.blog-grid-video .right-grid .section-heading h2{
    font-size: 30px;
    display: inline-block;
}

.blog-grid-video .right-grid .section-heading h2:after,
.blog-grid-video .right-grid .section-heading h2:before{
    background: #D60A1A;
    content: '';
    height: 3px;
    width: 35px;
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
}

@media (max-width: 991px) {
    .video-blog .news-heading .btn.bg-red {
        margin-top: 15px;
    }
}

@media (max-width: 767px) {
    .video-blog  .col-xs-6 {
    width: 100%;
    margin:0 15px;
}
}
/*Video Blog Grid end*/

/* seo blog begins */
.blog-seo .section-wrapper {
    padding-bottom: 0;
}
.seo-blog-content {
    margin-top: 30px;
}
.seo-blog-content .seo-blog-single {
    text-align: left;
}
.seo-blog-content .seo-blog-single .img-holder img {
    width: 100%;
}

.seo-blog-content .seo-blog-single p {
    margin-bottom: 0;
}

.seo-blog-content .seo-blog-date {
    margin-top: -10px;
}

.seo-blog-content .seo-blog-date p {
    font-size: 48px;
    color: #0E90DC;
    font-weight: 800;
}

.seo-blog-content .seo-blog-date span {
    font-size: 24px;
    color: #555;
    text-transform: uppercase;
}

.seo-blog-content .seo-blog-date span:before {
    content: '';
    display: inline-block;
    height: 41px;
    width: 1px;
    background: #CCC;
    transform: skewX(-10deg);
    margin: 0 10px;
}

.seo-blog-content .seo-blog-title {
    border-bottom: 1px solid #EEE;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.seo-blog-content .seo-blog-title p a {
    color: #222;
    font-size: 23px;
    font-weight: 700;
}

.seo-blog-content .seo-blog-counts ul {
    margin-bottom: 0;
}

.seo-blog-content .seo-blog-counts ul li {
    display: inline-block;
    margin-right: 50px;
    font-size: 18px;
    color: #666;
}

.seo-blog-content .seo-blog-counts ul li:last-child {
    margin-right: 0;
}

.seo-blog-content .seo-blog-counts ul i {
    color: #FF9600;
    font-size: 18px;
    margin-right: 11px;
}

.seo-blog-content .seo-blog-counts ul a {
    color: #666;
}

@media (max-width: 600px){
    .seo-blog-single .col-xs-6{
        width: 100%;
    }
}
/* seo blog ends */
