/* COUNTER-1 */
.counter1-content .col-lg-3:nth-child(even) {
    background: #FFF;
}

.counter-holder i {
    color: #3884B6;
    font-size: 45px;
}

.counter-holder p.counter {
    color: #3C3C3C;
    font-size: 55px;
    margin-top: 10px;
}

.counter-holder p.counter-text {
    color: #333;
    font-size: 20px;
}


/* COUNTER-1 */

/* COUNTER-2 */

.counter-2{
    background: url("../../images/port_img.png") no-repeat;
    background-position: 110% 200%;
}
.counter-2 .counter-holder i {
    background: #F4F6F8;
    border-radius: 50%;
    color: #333;
    font-size: 53px;
    height: 158px;
    line-height: 158px;
    width: 158px;
}

.counter-2 p.counter {
    color: #FB4F15;
}

.counter-2 p.counter-text {
    font-size: 17px;
    color: #666666;
    font-weight: 400;
}
@media (max-width:768px){
   .counter-2{
    background: none;
} 
}
/* COUNTER-2 */

/* COUNTER-3 */
.counter-3 .counter-holder i {
    background: #41C3D0;
    border-radius: 50%;
    color: #FFF;
    height: 115px;
    width: 115px;
    line-height: 115px;
    transition: .7s all ease-in-out;
}

.counter-3 .counter-holder span.border-icon {
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #EEE;
    width: 135px;
    height: 135px;
    line-height: 155px;
    transition: .7s all ease-in-out;
}

.counter-3 .counter-holder p.counter {
    margin-bottom: 5px;
    margin-top: 0;
    font-size: 53px;
}

.counter-3 .counter-holder p.counter-text {
    font-size: 18px;
}

.counter-3 .counter-holder p {
    text-align: left;
}

.counter-3 .counter-holder span.border-icon:hover i {
    background: #FFF;
    color: #41C3D0;

}

.counter-3 .counter-holder span.border-icon:hover {
    border: 1px solid #41C3D0;
}

@media (max-width: 991px) {
    .counter-3 .counter-holder p.counter,
    .counter-3 .counter-holder p.counter-text{
        text-align: center;
    }
}
/* COUNTER-3 */


/* COUNTER-4 */
.counter-4 .img-holder1 {
    position: relative;
}

.counter-4 .img-holder1:after {
    content: '';
    height: 100%;
    width: 100%;
    background: #111;
    opacity: .7;
    top: 0;
    left: 0;
    position: absolute;
}
.counter-4 .counter-left-cons {
    background: url('../../images/left-img.jpg');
    height: 570px;
    position: relative;
    overflow: hidden;
}

.counter-4 .counter-left-cons:after {
    background: #111;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.counter-4 .counter-right-cons {
    background: #00A3D9 url('../../images/right-img.png');

}

.counter-4 .counter-holder {
    padding: 40px 0;
}

.counter-4 .counter-holder i {
    border-radius: 50%;
    color: #FFF;
    font-size: 32px;
    width: 110px;
    height: 110px;
    line-height: 110px;
    border: 2px solid;
}
.counter-4 .counter-holder p {
    color: #FFF;
    font-weight: 600;
}

.counter-4 .counter-holder p.counter {
    margin: 0;
    font-size: 48px;
}

.counter-4 .counter-holder p.counter-text {
    font-size: 18px;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .counter-right-cons .tleft{
        text-align: center !important;
    }
}
/* COUNTER-4 */

/* COUNTER-5 */
/*legal -counter*/
.legal-counter{
    background: #1F222C url('../../images/legal-counter.png') no-repeat;
    background-size: cover;
}

.legal-counter .description h2{
    font-size: 48px;
    color: #fff;
    margin-top:60px;
}

.legal-counter .description p{
    color: #fff;
    margin-bottom: 40px;
}

.legal-counter .counter-holder {
    padding: 20px 0;
    background: rgba(43,42,56,0.6);
    margin: 5px;
    box-shadow: 0 0 1px #12131b;
}

.legal-counter .counter-holder i {
    color: #fff;
}

.legal-counter .counter-holder p.counter {
    color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.3;
}
.legal-counter .counter-holder p.counter-text {
    color: #cecece;
    margin-bottom: 0
}
.legal-counter .description .readmore{
    background: #fff;
    color: #333;
    font-weight: 600;
    font-size: 22px;
    padding: 13px 40px;
    border-radius: 30px;
    display: inline-block;
    border: 1px solid #fff;
}
.legal-counter .description .readmore:hover{
    color: #fff;
    background: transparent;
}

@media (max-width: 992px){
    .legal-counter .description{
        margin-bottom: 20px;
    }
    
    .legal-counter .description h2 {
        margin-top: 0;
    }
}
/* COUNTER-5 end */

/* COUNTER-6 */
/*Restaurant counter*/
.restaurant-counter .section-heading h2{
    font-weight: 500;
    color: #444;
}

.restaurant-counter .counter-holder {
    padding: 50px 0 0;
}

.restaurant-counter .count-icon-holder i,
.restaurant-counter .count-icon-holder .counter{
    display: inline-block;
    font-size: 72px;
    width:100px;
    color: #FF8E1F;
}

.restaurant-counter .count-icon-holder .counter{
    margin:0;
    color: #555;
    font-weight: 500;
}

.restaurant-counter .counter-text{
    font-size: 18px;
    color: #666;
}
/* COUNTER-6 end */

/*counter Social*/
.social-counter {
    position: relative;
    background: rgba(0, 0, 0, 0.9) url('../../images/social-counter.png') no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.social-counter .section-heading h2,
.social-counter .section-para p{
    color: #FFF;
}

.social-counter .count-icon-holder i,
.social-counter .count-icon-holder .counter{
    display: inline-block;
    font-size: 72px;
    width:100px;
    color: #FFF;
}

.social-counter .count-icon-holder .counter{
    margin:0;
    color: #FFF;
    font-weight: 500;
}

.social-counter p.counter-text{
    font-size: 18px;
    color: #FFF;
}

.social-counter .btn.donate{
    border: 1px solid #29AF8A;
    border-radius: 30px;
    background: #29AF8A;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 30px;
    font-weight: 600px;
    font-size: 18px;
}

.social-counter .btn.donate:hover{
    background: transparent;
    color: #29AF8A;
}

/*counter Social end*/

/*counter-interior*/
/* cta-couter begins */
.feature-consulting-second .counter-3 {
    background: #FFF url('../../images/cta-consulting-counter.png') no-repeat;
    position: absolute;
    bottom: -40%;
    width: 100%;
    transform: translate(0, -40%);
    z-index:9;
}
.feature-consulting-second .counter-3:after {
    content: '';
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.85);
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -1;
}
.feature-consulting-second .counter-3.section-wrapper {
    padding: 40px 0;
}
.feature-consulting-second .counter-3 .section-heading h2 {
    color: #111;
    font-weight: 500;
}

.feature-consulting-second .counter-3 .section-para p {
    margin-bottom: 0;
}

.feature-consulting-second .counter-3 .counter-holder {
    padding: 50px 0 30px 35px;
}

.feature-consulting-second .counter-3 .counter-holder i {
    color: #00B259;
    background: #FFF;
    border: 2px solid;
}

.feature-consulting-second .counter-3 .counter-holder p.counter {
    color: #00B259;
    font-weight: 600;
}

.feature-consulting-second .counter-3 .counter-holder p.counter-text {
    font-weight: 600;
    color: #535353;
}

.feature-consulting-second .counter-3 .counter3-content .col-lg-4{
    background: transparent !important;
}

@media(max-width: 991px) {
    .feature-consulting-second .counter-3 {
        position: relative;
        bottom: 0;
        transform: translate(0, 0);
    }
}
/* cta-couter begins */
/*counter-interior end*/

/*forum counter*/
.forum-counter .counter-holder{
    background: #fff;
    margin: 15px 0;
}

.forum-counter .counter-holder p.counter-text{
    margin-bottom: 0;
}

.forum-counter .counter-holder p.counter{
    margin: 0;
}
.forum-counter .counter-holder i {
    color: #E91D62;
}
/*forum counter end*/

/*wedding Counter */
.counter-wedding .counter-holder{
    position: relative;
    padding: 90px 0;
}
.counter-wedding .counter-holder:before{
    content: '\f08a';
    position: absolute;
    top: 0;
    left: 0;
    font-size: 270px;
    color: #eee;
    font-family: fontawesome;
    line-height: 1;
}

.counter-wedding .counter-holder p.counter {
    color: #3C3C3C;
    font-size: 55px;
    margin-top: 0;
    line-height: 1.0;
    margin-bottom: 10px;
    color: #DC0121;
}

.counter-wedding .btn.more{
    background: #DC0121;
    border: 1px solid #DC0121;
    color: #fff;
    padding: 12px 30px;
    text-transform: capitalize;
}

.counter-wedding .btn.more:hover{
    color: #DC0121;
    background: transparent;
}
@media(max-width: 1199px) {
    .counter-wedding .counter-holder::before {
        font-size: 220px;
    }
    .counter-wedding .counter-holder {
        padding: 55px 0;
    }
}
@media (max-width: 991px) {
    .counter-wedding .counter-holder::before {
        transform: translate(27%,0);
    }
}
@media (max-width: 767px){
    .counter-wedding .counter-holder::before {
        transform: translate(-50%, 0);
        left: 50%;
    }
}
/*wedding Counter end */

/*counter realestate*/
.counter-realestate{
    background: url(../../images/feature-news/real-counter-bg.jpg);
    background-attachment: fixed;
    position: relative;
}

.counter-realestate:after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(49,116,175, 0.79);
    z-index: 1;
}

.counter-realestate .container{
    z-index: 9;
}

.counter-realestate .section-heading h2,
.counter-realestate .section-para p,
.counter-realestate .counter-holder i,
.counter-realestate .counter-holder p.counter,
.counter-realestate .counter-holder p.counter-text{
    color: #fff;
}

.counter-holder p.counter{
    margin: 0 auto;
}
/*counter realestate end*/
