.feature-row {
	display: block;
	margin-top:60px;
}

.feature-row .icon-holder i{
	font-size:50px;
	color:#AAA;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

/*hexagonal icon-holder*/

.feature-row .icon-holder.hexagonal,
.feature-row .icon-holder.hexagonal:before,
.feature-row .icon-holder.hexagonal:after{
	border-style: solid;
	border-color: #AAA;
	border-width: 4px;
	border-top: none;
	border-bottom: none;
	height: 104px;
	width: 138px;
	border-radius: 25px;
}

.feature-row .icon-holder.hexagonal{
	text-align: center;
	line-height: 100px;
	position: relative;
	z-index: 0;
	margin: 60px auto;
	width: 149px;
}

.feature-row .icon-holder.hexagonal:after,
.feature-row .icon-holder.hexagonal:before{
	content: "";
	position: absolute;
	top: 0;
	left: -2px;
	z-index: -1;
}

.feature-row .icon-holder.hexagonal:before{
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	transform: rotate(60deg);
}

.feature-row .icon-holder.hexagonal:after{
	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	transform: rotate(-60deg);
}

.feature-row .col-md-3:hover .icon-holder.hexagonal,
.feature-row .col-md-3:hover .icon-holder.hexagonal:before,
.feature-row .col-md-3:hover .icon-holder.hexagonal:after{
	border-color: #525252;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.feature-row .icon-holder.hexagonal i{
	font-size:50px;
	line-height: 100px;
	color:#AAA;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.feature-row .col-md-3:hover .icon-holder.hexagonal i{
	color:#525252;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

/*Round icon-holder*/
.feature-row .icon-holder.round{
	font-size: 38px;
	height: 100px;
	width: 100px;
	border: 2px solid #FF4000;
	color: #FF4000;
	line-height: 100px;
	border-radius: 50%;
	margin:20px auto;
}

.feature-image{
	margin-top: 80px;
}

/*feature agency*/
.feature-agency .icon-holder i{
	color: #FF4000;
	font-size: 38px;
}

.feature-agency.section-wrapper{
	padding-bottom: 0;
}

.feature-agency .feature-row .description .btn{
	background: none;
	color: #555;
	font-size: 16px;
	font-weight: 600;
	border: none;
	padding: 0;
}

.feature-agency .feature-row .description .btn i{
	margin-left: 5px;
	font-size: 14px;
	transition: all 0.6s ease-in-out;
	-webkit-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
}

.feature-agency .feature-row .description .btn:hover i{
	margin-left: 10px;
}

/*Feature news*/

.news-wrapper{
	margin:20px 0;
}


.highlight-news{
	border-bottom: 1px dotted #eee;
}

.highlight-news .news-heading h3{
	font-size: 24px;
}

.highlight-news .news-heading ul li{
	font-size: 16px;
}

.feature-news .news-heading:first-child {
	padding-top: 20px;
}

.feature-news .news-heading .image-holder{
	/*	margin-top:15px;*/
	padding:6px;
	border: 1px solid #eee;
}
.feature-news.feature-grid .news-heading .image-holder {
	margin-top: 0;
	padding: 0;
	border: none;
	margin-bottom: 15px;
}

.feature-news.feature-grid .news-heading h3{
	font-size: 20px;
}

.feature-news.feature-grid .news-para p{
	margin-top: 0;
	margin-bottom: 10px;
}

.tag-button{
	background-color: #fff;
	border: 1px solid #555;
	border-radius: 0;
	margin: 5px 3px;
	color: #555;
	padding: 3px 10px;
}

.tag-button:hover{
	color: #fff;
	background-color: #555;
}

.category-holder ul li{
	margin: 8px 0;
}

.category-holder ul li a{
	color: #555;
	font-weight: 500;
	font-size:18px;

}

.category-holder ul li:hover a{
	color: #FF3F00;
}

.category-holder ul li:before {
	content: '\f105';
	font-family: 'FontAwesome';
	color: #555;
	font-weight: 500;
	font-size: 20px;
	margin-right: 10px;
	margin-left: 5px;
	transition: .5s all ease-in-out;
	-moz-transition: .5s all ease-in-out;
	-webkit-transition: .5s all ease-in-out;
}

.category-holder ul li:hover:before {
	margin-left: 15px;
	color: #FF3F00;
}

.facebook-holder img{
	width: 100%;
}

.feature .follow-us ul.follow-social {
	margin-top: 20px;
}

.feature .follow-us ul.follow-social li {
	display: inline-block;
	margin-bottom: 20px;
	width: 49%;
}

.feature .follow-us ul.follow-social a {
	display: inline-block;
}

.feature .follow-us ul.follow-social span.block {
	float: right;
	width: 50%;
}

.feature .follow-us ul.follow-social span.counter {
	font-size: 16px;
	color: #666666;
	font-weight: 700;
}

.feature .follow-us ul.follow-social span.follow-text {
	color: #666;
	font-size: 13px;
}

.feature .follow-us li.facebook i {
	background: #3B5998;
}

.feature .follow-us li.twitter i {
	background: #00ACEE;
}

.feature .follow-us li.rss i {
	background: #EE802F;
}

.feature .follow-us li.pinterest i {
	background: #D90000;
}

.feature .follow-us ul.follow-social i {
	border-radius: 4px;
	color: #FFF;
	font-size: 20px;
	text-align: center;
	width: 50px;
	height: 45px;
	line-height: 45px;
}

.feature .follow-us .img-holder img {
	display: inline-block;
	margin-left: 0;
}

ul.tabs {
	margin-top: 40px;
	border-bottom: 2px solid #EEE;
}

ul.tabs li {
	display: inline-block;
	width: 32%;
	margin-bottom: -2px;
}

ul.tabs a {
	color: #333;
	font-weight: 700;
	font-size: 18px;
	padding: 5px 0px;
	display: inline-block;
}

ul.tabs a.active {
	border-bottom: 2px solid #FF8000;
}

.feature .follow-us .tab-single:first-child {
	padding-top: 0;
}
.feature .follow-us .tab-single {
	border-bottom: 1px dashed #EEE;
	padding: 15px 0;
}

.feature .follow-us .tab-single img {
	margin-left: 0;
}

.feature .follow-us .news-heading {
	padding: 0;
}

.feature .follow-us .news-heading h3 {
	font-weight: normal;
	font-size: 16px;
	margin-bottom: 0;
}

/*medicine feature*/
/*feature top*/

.advantage-medicine{
	overflow: hidden;
}

.feature-medicine .feature-row{
	margin-top: 0;
}

.feature-medicine .feature-row .icon-holder.round {
	border: 2px solid #fff;
	color: #fff;
}

.feature-medicine .feature-row .icon-holder.round i{
	color: #fff;
	font-size: 38px;
}

.feature-medicine .description h3 {
	margin-bottom: 10px;
}

.feature-medicine .description h3 a{
	color: #fff;
}

.feature-medicine .description h3 a:hover {
	color: #555;
}

.feature-medicine .description p{
	color: #fff;
}

.feature-medicine .section-para {
	width: 94%;
}

.feature-medicine .description a.link-more {
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
	padding: 8px 12px;
	position: relative;
}

.feature-medicine .description a.link-more:after{
	position: absolute;
	content: '';
	bottom:0;
	height: 1px;
	background: #34A2B5;
	width: 100%;
	left:0;
	transition: height 0.5s ease-in-out;
}

.feature-medicine .description a.link-more:hover:after{
	height: 100%;
	transition: height 0.5s ease-in-out;
}

.feature-medicine .description a.link-more span{
	position: relative;
	z-index: 1;
}

.feature-tab ul.tabs{
	width: 60%;
	margin: 20px auto 30px;
}

.feature-tab ul.tabs a{
	font-size: 22px;
	padding: 10px 0px;
	color: #545454;
}

.feature-tab ul.tabs {
	margin: 30px auto 60px;
	border-bottom: 3px solid #EEE;
	display: flex;
	justify-content: space-between;
}

.feature-tab ul.tabs li {
	width: initial;
}

.feature-tab ul.tabs a.active {
	border-bottom: 3px solid #41C3D0;
	margin-bottom: -1px;
}

.feature-tab .section-para{
	width: 100%;
}

.feature-tab .section-para p{
	font-size: 20px;
}

.advantage-holder{
	padding: 10px 20px;
}

.advantage-holder .description{
	width: 75%;
}

.advantage-holder .description h3{
	margin-bottom: 10px;
	color: #000;
}

.advantage-holder .icon-holder.round{
	border: none;
	color: #fff;
	transition: background 0.6s ease-in-out;
}
.advantage-medicine .advantage-holder:hover .icon-holder {
	border: 2px solid #41c3d0;
	background: transparent;
	transition: background 0.6s ease-in-out;
}

.advantage-holder .icon-holder.round i{
	color: #fff;
	font-size: 38px;
}

.advantage-holder:hover .icon-holder.round i{
	color: #41c3d0;
}

@media (max-width: 1199px) {
	.advantage-holder .icon-holder.fleft{
		float: right !important;
	}
	.advantage-holder .description.fright{
		float: left !important;
	}
	.advantage-holder .description.tleft{
		text-align: right !important;
	}
}

@media (max-width: 991px) {
	.feature-tab ul.tabs {
		width: 80%;
	}
}

@media (max-width: 768px) {
	.feature-medicine .description {
		margin: 20px 0;
	}
	.feature-tab ul.tabs {
		width: 90%;
	}

	/*medicine*/
	.advantage-holder .icon-holder.fleft{
		float: none !important;
	}
	.advantage-holder .icon-holder.fright{
		float: none !important;
	}
	.advantage-holder .description.fright{
		float: none !important;
	}
	.advantage-holder .description.fleft{
		float: none !important;
	}
	.advantage-holder .description{
		width: 100%;
	}
	.advantage-holder .description.tleft{
		text-align: center !important;
	}
	.advantage-holder .description.tright{
		text-align: center !important;
	}
}

@media (max-width: 600px) {
	.feature-tab ul.tabs {
		width: 100%;
	}
	.feature-tab ul.tabs a {
		font-size: 20px;
	}

}

@media (max-width: 400px) {
	.feature-tab ul.tabs{
		display: block;
	}

	.feature-tab ul.tabs li{
		display: block;
	}

	.feature-tab ul.tabs a.active {
		border-bottom: none;
		margin-bottom: 0;
		color: #41C3D0;
	}
}

/*feature travel*/
.feature-travel{
	background: url(../../images/feature-bg.jpg);
	background-attachment: fixed;
	background-size: cover;
	position: relative;
}

.feature-travel:after {
	content: '';
	background: rgba(0, 163, 216, 0.8);;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	left: 0;
	z-index: 1;
}

.feature-travel .container{
	z-index:2;
}

.feature-travel .section-heading h2{
	color: #fff;
}

.feature-travel .feature-row .icon-holder.round {
	border: 2px solid #fff;
	color: #fff;
	height: 80px;
	width: 80px;
	line-height: 80px;
	font-size: 40px;
}

.feature-travel .feature-row .icon-holder i{
	color: #fff;
	font-size: 35px;
}

.feature-travel .description,
.feature-travel .description h3 a,
.feature-travel .description p{
	color: #fff;
}

.feature-travel .description .fa.fa-star{
	color: #FFBF00;
}

.feature-travel .description p i{
	margin-right: 10px;
}

.feature-travel .btn.more{
	border: 1px solid #fff;
	border-radius: 30px;
	padding: 12px 50px;
	color: #00A3D8;
}

.feature-travel .btn.more:hover{
	background: #00A3D8;
	color: #fff;
}

/*travel service*/
.Service-travel .feature-row .icon-holder.round {
	font-size: 38px;
	height: 80px;
	width: 80px;
	border: 2px solid #41C3D0;
	color: #fff;
	line-height: 80px;
	border-radius: 50%;
	margin: 20px auto;
}

.Service-travel .service-holder .icon-holder i{
	color: #fff;
	font-size: 40px;
}

.Service-travel .service-holder .description{
	width: 70%;
	margin: 20px 0;
}

.Service-travel .service-holder .description h3{
	margin-bottom: 10px;
}

/*Feature construction*/
.feature-construction-slider{
	margin-top: 60px
}

.feature-construction .section-heading h2{
	color: #fff;
	font-weight: 600;
}

.feature-construction .section-para p{
	color: #fff;
	font-weight: 300;
}

.section-heading.underline:after{ 
	content: '';
	display: block;
	width: 100px;
	height: 6px;
	background: linear-gradient(90deg, #6C6C6C 50%, #FFBF00 50%);
	margin: 15px auto 40px;
}

.feature-construction .icon-holder i{
	color: #838486;
	font-size: 80px;
}

.feature-construction .description:hover .icon-holder i{ 
	color: #fff;
}

.feature-construction .description h3 {
	font-size: 24px;
	margin-top: 20px;
}

.feature-construction .description h3 a {
	color: #A4A5A6;
}

.feature-construction .description:hover h3 a{
	color: #fff;
}

@media (max-width: 991px){
	.feature-construction .description{
		margin: 20px 0;
	}
}

/*service construction*/
.service-construction .service-holder .icon-holder {
	margin-bottom: 10px;
}

.service-construction .service-holder .icon-holder i{
	color: #FFBF00;
	font-size: 40px;
}

.service-construction .service-holder .description h3 {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 5px;
}

.service-construction .service-holder a.learn{
	color: #535353;
	font-weight: 600;
}
.service-construction .service-holder a.learn i{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.service-construction .service-holder a.learn:hover i{
	margin-left: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

@media (max-width: 991px) {
	.service-construction .service-holder{
		margin: 20px 0;
	}
}


/*feature Legal*/
.feature-legal{
	box-shadow:  0 -1px 10px rgba(10, 10, 10, 0.75);;
}
.feature-legal .icon-holder{
	font-size: 72px;
	color: #545454;
}

.feature-legal .description h3{
	font-size: 22px;
}

.feature-legal .description{
	position: relative;
}

.feature-legal .description:after{
	position: absolute;
	content: '';
	height: 100%;
	background: rgba(84, 84, 84, 0.46);
	width: 1px;
	top: 0;
	right: -15px;
}

.feature-legal .col-md-3:last-child .description:after{
	display: none;
}

.feature-legal .col-md-3{
	padding-top: 60px;
	padding-bottom: 60px;
	overflow: hidden;
}
.feature-legal .col-md-3:before{
	content:'';
	position: absolute;
	top:0;
	background: #FF8000;
	right:100%;
	height:4px;
	width: 100%;
	transition: all 0.5s ease-in-out;
}

.feature-legal .col-md-3:hover:before{
	right:0;
	transition: all 0.5s ease-in-out;
}

.feature-legal .col-md-3 .description p{
	margin-bottom: 30px;
}

.feature-legal .col-md-3:hover .icon-holder,
.feature-legal .col-md-3:hover .description h3 a,
.feature-legal .col-md-3:hover .description p{
	color:#fff;
}

.feature-legal .description .readmore{
	color: #BBB;
	border: 1px solid #383838;
	padding: 6px 20px;
	border-radius: 30px;
	display: inline-block;
}
.feature-legal .description .readmore i{
	color: rgb(74, 74, 74);;
	margin-left: 10px;
}
.feature-legal .col-md-3:hover .description .readmore{
	background: #fff;
	color: #222;
	border-color: #fff;
}

@media (max-width: 992px){
	.feature-legal .col-md-3:nth-child(even) .description:after{
		display: none;
	}
}

@media (max-width: 767px){
	.feature-legal .col-md-3 .description:after{
		display: none;
	}
}

/*Feature App*/
.feature-app .feature-row{
	width: 70%;
	margin: 0 auto;
}

.feature-app .feature-row .description-app {
	margin-top: 30px;
}

.feature-app .feature-row .description-app  h3{
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 0;
}

.feature-app .feature-row .description-app h3 a{
	color: #444444 ;
}

.feature-app .feature-row .description-app:hover h3 a{
	color: #0085B2;
}

.feature-app .feature-row .description-app .icon-holder i{
	color: #444;
	font-size: 72px;
}

.feature-app .feature-row .description-app:hover .icon-holder i{
	color: #0085B2;
}

.feature-app .section-heading h2{
	font-weight: 500;
}

.feature-app .img-holder{
	padding:30px 0;
}

/*service app*/
.service-app .section-heading h2{
	font-weight: 500;
}

.service-app .feature-row .icon-holder.round{
	box-shadow: 0 0 0 2px #0085b2;
	color: #0085b2;
	border: none;
	position: relative;
}

.service-app .feature-row .icon-holder.round:hover{
	box-shadow: none;
	-webkit-transition: box-shadow 0.2s;
	-moz-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
}

.service-app .feature-row .icon-holder.round:after{
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	top: -2px;
	left: -2px;
	padding: 0;
	z-index: 10;
}

.service-app .feature-row .icon-holder.round:hover:after{
	border: 2px dashed #0085b2;
	-webkit-animation: spinAround 9s linear infinite;
	-moz-animation: spinAround 9s linear infinite;
	animation: spinAround 9s linear infinite;
}


@-webkit-keyframes spinAround {
	from {
		-webkit-transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes spinAround {
	from {
		-moz-transform: rotate(0deg)
	}
	to {
		-moz-transform: rotate(360deg);
	}
}
@keyframes spinAround {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg);
	}
}

.service-app .feature-row .icon-holder i {
	font-size: 45px;
	color: #1f92ba;
	line-height: 100px;
}

.service-app .readmore{
	color: #0085b2;
	margin: 10px 0;
	font-weight: 500;
}

.service-app .readmore i{
	transition: all 0.6s ease-in-out;
	-webkit-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
}

.service-app .readmore:hover i{
	margin-left: 10px;
	transition: all 0.6s ease-in-out;
	-webkit-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
}

.service-app .description h3{
	margin-bottom: 5px;
}

.service-app .description p {
	margin: 10px;
}

.service-app .description{
	padding: 20px 0;
}
/*ecommerce*/

.flip-container {
	perspective: 1000px;
	transform-style: preserve-3d;
}

.flip-container:hover .back {
	transform: rotateY(0deg);
}
.flip-container:hover .front {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 390px;
	height: 410px;
	overflow:hidden;
}

.flipper {
	transition: 0.6s;
	-webkit-transition: 0.6s;
	-ms-transition: 0.6s;
	-o-transition: 0.6s;
	-moz-transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	transition: 0.6s;
	-webkit-transition: 0.6s;
	-ms-transition: 0.6s;
	-o-transition: 0.6s;
	-moz-transition: 0.6s;
	transform-style: preserve-3d;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.feature-ecommerce .feature-holder{
	margin-top: 40px;
}

.feature-ecommerce .feature-holder .price{
	width: 80px;
	height: 80px;
	line-height: 80px;
	color: #D9121F;
	border: 1px solid #D9121F;
	border-radius: 50%;
	margin: 0 auto;
}

.feature-ecommerce .feature-holder .price p{
	color: #D9121F;
	font-weight:600;
}

.feature-ecommerce .feature-holder .border{
	padding:40px 0;
}

.feature-ecommerce .feature-holder .border .tag{
	right: 20px;
	left:auto;
}

.feature-ecommerce .feature-holder .image-holder img {
	width: auto;
}

.feature-ecommerce .btn.more{
	color: #D9121F;
	border: 1px solid #D9121F;
}

.feature-ecommerce .btn.more:hover{
	color: #fff;
	background: #D9121F;
}

.back {
	transform: rotateY(-180deg);
	background: #eee;
	color: #555;
}

.vertical.flip-container {
	position: relative;
}

.vertical .back {
	transform: rotateX(180deg);
}

.vertical.flip-container:hover .back {
	transform: rotateX(0deg);
}

.vertical.flip-container:hover .front {
	transform: rotateX(180deg);
}

.back .backholder{
	padding:30px 0px;
}
.back .backholder .back-container{
	margin-top:20px;
}

.back .backholder .back-container .item-desc li:before{
	content: '\f00c';
	font-family: 'fontawesome';
	margin-right: 10px;
}

.back .backholder h3{
	font-size:20px;
	margin:0 15px 0;
}

.back .backholder p{
	margin:0 15px 0;
	font-size:22px;
	font-weight: 600;
}

.back .backholder ul.more-button{
	border-radius: 10px;
	background: #fff;
	overflow: hidden;
	width: 221px;
	margin: 0 auto;
	position: relative bottom: 0;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%,-10px);
}

.back .backholder ul.more-button li{
	display: inline-block;
	border-right: 1px solid #eee;
}

.back .backholder ul.more-button li:last-child{
	border:none;
}

.back .backholder ul.more-button li a{
	width:70px;
	height:70px;
	display:inline-block;
	line-height: 70px;
	text-align: center;
	color: #D9121F;
	font-weight: 600;
}

@media (max-width: 1199px) {
	.flip-container, .front, .back {
		width: 321px;
	}
	.back .backholder .back-container .col-md-7{
		width: 100%;
	}
	.back .backholder .back-container img{
		display:none;
	}
}

@media (max-width: 992px) {
	.flip-container, .front, .back {
		width: 374px;
	}
}

@media (max-width: 767px) {
	.feature-ecommerce .feature-holder .border{
		width: 374px;
		margin: 0 auto;
		float:none !important;
	}

}

@media (max-width: 437px){
	.feature-ecommerce .feature-holder .border {
		width: 330px;
	}
	.flip-container, .front, .back {
		width: 330px;
	}

}

@media (max-width: 350px){
	.feature-ecommerce .feature-holder .border {
		width: 310px;
	}
	.flip-container, .front, .back {
		width: 310px;
	}

}


/*plumber begin*/

/*about plumbing*/
.about-plumbing .feature-row .icon-holder.round{
	background: #F0542D;
	border-color: #F0542D;
	position: relative;
}

.about-plumbing .feature-row .icon-holder.round i{
	color: #fff;
	font-size: 35px;
}

.about-plumbing .feature-row .description .icon-holder:after{
	content: '';
	position: absolute;
	bottom:-10px;
	left:50%;
	transform: translate(-50%,0);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: #F0542D transparent transparent transparent;
}

.about-plumbing .feature-row .description .readmore{
	color: #F0542D;
}
/*about plumbing end*/

/*feature plumbing*/
.features-plumbing.section-wrapper{
	padding-top:10px;
}
.features-plumbing .feature-holder{
	padding: 10px 20px;
}

.features-plumbing .feature-holder .description{
	width: 75%;
}

.features-plumbing .feature-holder .description h3{
	margin-bottom: 0px;
	color: #000;
}

.features-plumbing .feature-holder .description p{
	margin-bottom: 3px;
}

.features-plumbing .feature-holder .icon-holder.round{
	border: 3px solid #8E8E8E;
	color: #fff;
	transition: background 0.6s ease-in-out;
}


.features-plumbing .feature-holder .icon-holder.round i{
	color: #8E8E8E;
	font-size: 38px;
}

.features-plumbing .feature-holder .description h3 a {
	color: #F0542D;
}

.features-plumbing .feature-holder .description .readmore {
	color: #222;
	font-weight:600;
}

.features-plumbing .feature-row{
	margin-top: 0;
}

.features-plumbing .feature-row .section-heading h2{
	color: #212121;
	font-size: 48px;
	font-weight:600;
}

.features-plumbing .feature-row .section-heading{
	padding: 40px 0 16px;
}

.features-plumbing .feature-row .carousel .owl-dots{
	position: absolute;
	height: auto;
	width: 100%;
	bottom: 0;
	text-align: center;
	z-index:10;
}

.features-plumbing .feature-row .image-holder{
	position: relative;
}
.features-plumbing .feature-row .image-holder:after{
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	top:0;
	left:0;
	z-index:9;
	background: rgba(255,255,255,0);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 50%, rgba(255,255,255,0.12) 56%, rgba(246,246,246,0.9) 95%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(50%, rgba(255,255,255,0)), color-stop(56%, rgba(255,255,255,0.12)), color-stop(95%, rgba(246,246,246,0.9)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 50%, rgba(255,255,255,0.12) 56%, rgba(246,246,246,0.9) 95%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 50%, rgba(255,255,255,0.12) 56%, rgba(246,246,246,0.9) 95%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 50%, rgba(255,255,255,0.12) 56%, rgba(246,246,246,0.9) 95%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 50%, rgba(255,255,255,0.12) 56%, rgba(246,246,246,0.9) 95%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );

}
@media(max-width: 1199px) {
	.features-plumbing .feature-holder .description {
		width: 70%;
	}
	.features-plumbing .description p {
		font-size: 14px;
	}
	.features-plumbing .feature-row .icon-holder.round{
		margin:0 auto;
	}
}

@media (max-width: 400px) {
	.features-plumbing .feature-holder .description {
		width: 100%;
	}
}
/*feature plumbing end*/

/*plumber end*/

/*Restaurant*/

/*feature restaurant-Special Items*/
.feature-restaurant .feature-row{
	margin-top: 30px;
}

.feature-restaurant .feature-row .list-holder {
	height: 400px;
	overflow: hidden;
	background: #fafafa;
	padding: 20px;
}
.feature-restaurant .feature-row .list-holder .mCSB_scrollTools{
	left: auto;
	right:0;
}
.feature-restaurant .feature-row .list-holder .mCSB_outside + .mCSB_scrollTools {
	right: 0;
}

.feature-restaurant .feature-row .list-holder .mCS-3d.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background: #ccc;
}

.feature-restaurant .feature-row .list-holder .mCS-3d.mCSB_scrollTools .mCSB_draggerRail{
	background-color: rgba(189, 189, 189, 0.2);
	box-shadow: inset 1px 0 1px rgba(189, 189, 189, 0.5),inset -1px 0 1px rgba(222, 216, 216, 0.2);
}
.feature-restaurant .feature-row .image-holder{
	padding:0 25px;
}
.feature-restaurant ul.leaders {
	max-width: 37em;
	padding: 0;
	overflow-x: hidden;
	list-style: none;
	text-align: left;
}

.feature-restaurant ul.leaders li {
	padding:15px 0;
}

.feature-restaurant .list-holder h4{
	color: #BBB;
	font-size: 30px;
	margin: 0;
}

.feature-restaurant ul.leaders li .list-item .list:before {
	float: left;
	width: 0;
	white-space: nowrap;
	color: #a33131;
	content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
}

.feature-restaurant ul.leaders li .list-item .list span{
	font-weight:600;
	color: #111;
	font-size:18px;
}

.feature-restaurant ul.leaders li .list-item .list span:first-child {
	letter-spacing: 1px;
	padding-right: 0.33em;
	background: #fafafa;
}

.feature-restaurant ul.leaders li .list-item p{
	color:#A1A1A1 ;
	font-size: 14px;
	margin-bottom: 0;
}

.feature-restaurant ul.leaders li .list-item .list span + span {
	float: right;
	padding-left: 0.33em;
	background: #fafafa;
}

.feature-restaurant ul.leaders li .list-item .list span + span:before {
	content: '$';
	padding-right: 0.15em;
}

.feature-restaurant ul.leaders li .list-item{
	width:calc(100% - 100px);
	overflow: hidden;
	float:right;
}

.feature-restaurant ul.leaders li .badges{
	display: inline-block;
}

.feature-restaurant ul.leaders li .badges{
	height: 56px;
	width: 56px;
	border-radius: 50%;
	color: #fff;
	line-height: 56px;
	text-align: center;
	vertical-align: top;
	margin-right:30px;
}

.feature-restaurant ul.leaders li .badges p{
	margin-bottom: 0;
	color:#fff;
}

.feature-restaurant ul.leaders li .badges.new{
	background: #0085B2;
}

.feature-restaurant ul.leaders li .badges.spicy{
	background: #D9121F;
}

.feature-restaurant .btn.more{
	border: 2px solid #FF8000;
	color: #FF8000;
	background: transparent;
	margin-top: 0;
	text-transform: capitalize;
}

.feature-restaurant .btn.more:hover{
	border: 2px solid #FF8000;
	color: #FFF;
	background: #FF8000;
}

/*feature restaurant-space-offer*/
.feature-detail .feature-description.section-wrapper-sm{
	padding-bottom: 0
}

.feature-detail .feature-description{
	padding-left: 40px;
	overflow: hidden;
}

.feature-detail .feature-description p{
	color: #545454;
	font-size: 17px;
}

.feature-detail .feature-description .restaurant-offer li{
	padding: 8px;
	font-weight: 600;
	color: #111;
}

.feature-detail .feature-description .restaurant-offer li i{
	color: #FF8F1F;
	font-size: 28px;
	margin-right: 15px;
}

/*Restaurant end*/

/*Social feature*/
.feature-social .feature-row{
	margin-bottom: 30px;
}
.feature-social .feature-row .icon-holder{
	margin-bottom: 20px;
}
.feature-social .feature-row .icon-holder i{
	color: #666;
	font-size: 68px;
}

.feature-social .btn.donate{
	border: 1px solid #29AF8A;
	background: #29AF8A;
	color: #fff;
	border-radius: 30px;
	text-transform: uppercase;
	font-size: 16px;
	padding: 10px 30px;
}

.feature-social .btn.donate:hover{
	background: transparent;
	color: #29AF8A;
}

.feature-social .btn.join{
	border: 1px solid #555;
	background: transparent;
	color: #555;
	border-radius: 30px;
	text-transform: uppercase;
	font-size: 16px;
	padding: 10px 30px;
}

.feature-social .btn.join:hover{
	background: #555;
	color: #fff;
}
/*Social feature end */

/*social feature service */
.service-social .border {
	border: 1px solid #eee;
}

.service-social.bg-light-black .border {
	border: 1px solid #222;
}

.service-social .service-box {
	position: relative;
	min-height: 130px;
	background: #fff;
	padding: 40px 10px;
	overflow: hidden;
}

.service-social.bg-light-black .service-box{
	background: transparent;
}

.service-social .service-box h5{
	font-size:32px;
}

.service-social.bg-light-black .service-box h5{
	color: #fff;
}

.service-social .service-box  p {
	color: #666;
	margin-bottom: 0;
	font-size:18px;
}

.service-social .service-box .grid-icon.small {
	position: absolute;
	left: auto;
	right: 0;
	top:0;
	bottom: auto;
	width: 100px;
	height: 100px;    
	font-size: 80px;
	line-height: 100px;
	color: rgba(0,0,0,0.05);
}

.service-social.bg-light-black .service-box .grid-icon.small{
	color: rgba(255,255,255,0.05);
}

.service-social .btn.more{
	border: none;
	color: #fff;
	padding: 12px 30px;
}

.service-social .btn.bg-red{
	background: #FF2D2D !important;
}

.service-social .btn.bg-red:hover  {
	background: rgba(23, 23, 23, 0.5) !important;
}

@media(max-width: 1199px) {
	.service-social .service-box h5 {
		font-size: 30px;
	}
}
/*social feature service end */

/*social feature service */
.social-project {
	position: relative;
	background: #29AF8A url('../../images/social-project.png') no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.social-project:after{
	position: absolute;
	content: '';
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	background: RGBA(41, 175, 138, 0.53);
	z-index: 1;
}

.social-project .container{
	z-index: 10;
}

.social-project .section-heading{
	margin:30px 0 10px;
}

.social-project .section-para{
	margin-bottom: 60px;
}

.social-project .section-heading h2,
.social-project .section-para p{
	color: #FFF;
}

.social-project .btn{
	text-transform: uppercase;
	font-size: 18px;
	padding: 14px 30px;
	border-radius: 30px;
	background: #FFF;
	border: 1px solid #FFF;
}

.social-project .btn.feature{
	background: #FF8000;
	color: #fff;
	border: 1px solid #FF8000;
}

.social-project .btn.donate{
	color: #26A280;
}

.social-project .btn.donate:hover{
	background: transparent;
	color: #fff;
}

.social-project .btn.join{
	color: #FFF;
	background: transparent;
}

.social-project .btn.join:hover{
	background: #fff;
	color: #26A280;
}

/*social feature service end */

/*Vehicle feature*/
.feature-vehicle .feature-row .icon-holder.round {
	height: 130px;
	width: 130px;
	border: 7px solid #ddd;
	background: #FF6400;
	line-height: 130px;
	box-shadow: 0 2px #BDB8B8;
}

.feature-vehicle .feature-row .icon-holder i{
	color: #fff;
}

.feature-vehicle .feature-row .description{
	padding: 0 20px 20px;
}
/*Vehicle feature end*/

/*Blog Feature*/
.main-section .news-heading ul{
	margin: 15px 0;
}

.main-section .feature-blog{
	padding: 35px;
}

.main-section .blog-wrapper{
	margin: 40px 0 0;
	background: #fff;
	position: relative;
	overflow: hidden;
}

.main-section .feature-blog .news-heading{
	border-top: none;
}

.main-section .feature-blog .news-heading h3 {
	font-size: 36px;
	font-weight: 600;
	line-height: 1.3;
	color: #333;
}

.main-section .feature-blog .news-heading ul li i {
	color: #333;
}

.main-section .feature-blog .news-heading ul li{
	color: #666;
	font-size: 16px;
}

.main-section .feature-blog .news-para p{
	font-size: 18px;
	margin-top: 30px;
}

.main-section .feature-blog  .share-holder .social{
	margin-left: 40px;
	margin-bottom: 10px;
}

.main-section .feature-blog  .share-holder .social, 
.main-section .feature-blog  button{
	display: inline-block;
}

.main-section .feature-blog  .share-holder{
	padding:30px 0 0;
	position: absolute;
	width: 100%;
	height: auto;
	left: 0;
	background: rgba(255,255,255,0.62);
	background: -moz-linear-gradient(top, rgba(255,255,255,0.62) 0%, rgba(246,246,246,0.62) 0%, rgba(255,255,255,0.62) 0%, rgba(255,255,255,1) 35%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.62)), color-stop(0%, rgba(246,246,246,0.62)), color-stop(0%, rgba(255,255,255,0.62)), color-stop(35%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.62) 0%, rgba(246,246,246,0.62) 0%, rgba(255,255,255,0.62) 0%, rgba(255,255,255,1) 35%);
	background: -o-linear-gradient(top, rgba(255,255,255,0.62) 0%, rgba(246,246,246,0.62) 0%, rgba(255,255,255,0.62) 0%, rgba(255,255,255,1) 35%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0.62) 0%, rgba(246,246,246,0.62) 0%, rgba(255,255,255,0.62) 0%, rgba(255,255,255,1) 35%);
	background: linear-gradient(to bottom, rgba(255,255,255,0.62) 0%, rgba(246,246,246,0.62) 0%, rgba(255,255,255,0.62) 0%, rgba(255,255,255,1) 35%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
	bottom: -80px;
	transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-webkit-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
}

.main-section .feature-blog:hover  .share-holder{
	bottom: 0;
	transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-webkit-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
}

.main-section .feature-blog  .share-holder .social li{
	display: inline-block;
}

.main-section .feature-blog  .share-holder .social ul{
	margin-bottom: 0;
}

.main-section .feature-blog  .share-holder .social li i{
	height:38px;
	width: 38px;
	border-radius: 50%;
	line-height: 38px;
	text-align: center;
	color: #fff;
}

.main-section .feature-blog  .share-holder .social .share-text{
	color: #FF3F00;
	margin-right: 10px;
}

.main-section .feature-blog  .share-holder button{
	float: right;
	background: #FF3F00;
	text-transform: uppercase;
	border-radius: 0;
	font-size: 24px;
	bottom: -5px;
	position: relative;
}

.main-section .feature-blog > i{
	font-size: 48px;
	color: #DDD;
	float: right;
}

.main-section .feature-grid{
	margin: 40px 0 0;
}

.main-section .feature-grid .news-heading{
	padding-bottom: 0;
}

.main-section .feature-grid .news-heading h3{
	font-size: 22px;
	font-weight: 600;
}

.main-section .feature-grid .news-para p {
	font-size: 17px;
	line-height: 1.5;
}

@media (max-width: 767px){
	.main-section .feature-blog .news-heading h3 {
		font-size: 32px;
	}
}

@media (max-width: 600px){
	.main-section .feature-blog .news-heading h3 {
		font-size: 26px;
	}
}
@media (max-width: 400px){
	.main-section .feature-blog .news-heading h3 {
		font-size: 20px;
	}
}
/*Blog Feature end*/

/*latest blog*/
.latest-holder .news-heading{
	margin: 0 20px;
	border-top: 1px solid #eee;
}

.latest-holder .news-heading:first-child{
	border-top: none;
}

.latest-holder .news-heading h3{
	font-size: 16px;
}

.latest-holder .news-heading span i{
	margin-right:5px;
	color: #333;
}

.latest-holder .news-heading span{
	color: #666;
}
/*latest blog end*/

/*category blog*/
.blog-category-holder h2{
	margin-bottom: 20px;
}
.blog-category-holder{
	padding: 20px;
}

.category-list ul.leaders{
	margin-bottom: 0;
}

.category-list ul.leaders li.list{
	overflow: hidden;
	border-bottom: 1px solid #eee;
	padding: 8px 0;
}

.category-list ul.leaders li.list:last-child{
	border-bottom: 0;
}

.category-list ul.leaders li.list::before {
	float: left;
	width: 0;
	white-space: nowrap;
	color: #fff;
	content: ''
}

.category-list ul.leaders li.list span:first-child {
	letter-spacing: 1px;
	padding-right: 0.33em;
	background: #fff;
}

.category-list ul.leaders li.list span + span {
	float: right;
	padding-left: 0.33em;
	background: #fff;
	color: #FF4000;
}

.category-list ul.leaders li.list span {
	font-weight: 600;
	color: #333;
	font-size: 18px;
}

.category-list ul.leaders li.list a:hover span{
	color: #FF4000;
}

/*category blog end*/

/*feature consulting*/
.feature-consulting{
	box-shadow: 0 3px 3px #ddd;
}

.feature-consulting .col-md-3 {
	padding: 40px 0;
	border-left: 1px solid #DDD;
}

.feature-consulting .col-md-3:first-child{
	border-left: none;
}

.feature-consulting .col-md-3:hover{
	background: #00B259;
}

.feature-consulting .icon-holder{
	height: 97px;
	width: 97px;
	border-radius: 50%;
	line-height: 97px;
	font-size: 43px;
	color: #00B259;
	text-align: center;
	border: 1px solid #EEE;
	margin: 0 auto 10px;
}

.feature-consulting .col-md-3:hover .icon-holder{
	background: #FFF;
	color: #00B259;
	border: 1px solid #00B259;
}

.feature-consulting .description h3{
	color: #333;
	margin-bottom: 5px;
}

.feature-consulting .col-md-3:hover .description h3{
	color: #FFF;
}

.feature-consulting .description p{
	margin-bottom: 0;
	color: #545454;
	font-size: 18px;
}

.feature-consulting .col-md-3:hover .description p{
	color: #FFF;
}

@media (max-width: 991px) {
	.feature-consulting .col-md-3 {
		border-left: none;
	}
}
/*feature consulting end*/

/* feature consulting second begins */
.feature-consulting-second .col-lg-4:nth-child(even) {
	background: #F8F8F8;
}

.feature-consulting-second .col-lg-4:nth-child(odd) {
	background: #FDFDFD;
}

.feature-consulting-second .feature-row {
	padding-bottom: 200px;
}

.feature-consulting-second .description {
	padding: 15px 25px 10px;
}

.feature-consulting-second .section-heading h2 {
	font-weight: 500;
	color: #333;
}

.feature-consulting-second .icon-holder.round {
	height: 104px;
	width: 104px;
	line-height: 104px;
	font-size: 48px;
	border: 1px solid #00B259;
}

.feature-consulting-second .icon-holder i {
	color: #00B259;
}

.feature-consulting-second .description h3 {
	margin-bottom: 10px;
}

.feature-consulting-second .description h3 a {
	font-size: 24px;
}

.feature-consulting-second .consulting-view-all {
	margin-top: 50px;
}

.feature-consulting-second .consulting-view-all a {
	font-size: 18px;
	color: #535353;
	border: 1px solid #333;
	padding: 14px 44px;
	border-radius: 26px;
	font-weight: 500;
	display: inline-block;
}
.feature-consulting-second .consulting-view-all a:hover {
	background: #535353;
	color: #FFF;
}

@media(max-width: 991px) {
	.feature-consulting-second .feature-row {
		padding-bottom: 60px;
	}
}

/* feature consulting second ends */

/*Service Interior*/
.service-interior{
	overflow: hidden;
}
.service-interior .icon-holder i{
	font-size: 130px;
}

.service-interior .feature-row .col-md-4{
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee
}

.service-interior .feature-row .col-md-4:nth-child(3n+1){
	border-left: none;
}

.service-interior .feature-row .col-md-4:nth-last-child(){
	border-bottom: none;
}

.service-interior .feature-row .col-md-4:hover{
	box-shadow: 0 0 10px #BABABA;
}

.service-interior .feature-row .description{
	height: 250px;
	padding: 40px;
	overflow: hidden;
}

.service-interior .feature-row .description h3{
	margin:10px 0;
}

.service-interior .feature-row .description .btn.more{
	display: none;
	text-align: center;
	margin: 0 auto;
	background: #F49615;
	color: #fff;
	border: 1px solid #F49615;
}

.service-interior .feature-row .description .btn.more:hover{
	background: transparent;
	color: #F49615;
}

.service-interior .feature-row .col-md-4:hover .icon-holder i{
	font-size: 75px;
}

.service-interior .feature-row .col-md-4:hover .description button{
	display: block;
}
/*Service Interior end*/

/*feature interior*/
.interior-holder{
	position: absolute;
	top: -250px;
	z-index: 1;
	width: 100%;
	overflow: hidden;
}
.interior-holder .interior-holder-bg{
	background: url(../../images/feature-news/feature-interior.jpg);
	background-size: cover;
	position: relative;
}
.interior-holder .interior-holder-bg:after{
	content: '';
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.89); 
}

.interior-holder .feature-interior{
	position: relative;
	z-index: 9;
}

.interior-holder .feature-row .icon-holder.round {
	font-size: 38px;
	border: 5px solid #FFF;
	background: #F49615;
}

.interior-holder .feature-row .icon-holder.round i{
	color: #fff;
}

.interior-holder .description h3{
	font-size: 18px;
	font-weight: 600;
}

.interior-holder .description h3 a{
	color: #555;
}

.interior-holder .section-heading h2{
	color: #212121;
}

@media (max-width: 991px) {
	.interior-holder{
		position: relative;
		top: 0;
		transform: translate(0, 0);
	}
}
/*feature interior end*/

/*feature education*/
.feature-education{
	position: absolute;
	width: 100%;
	top: -120px;
	z-index: 9;
}
.feature-education .container{
	overflow: hidden;
}

.feature-education .col-md-3 {
	padding: 40px 0;
	background: #4285F4;
}

.feature-education .col-md-3:nth-child(2n) {
	background: #2472F2;
}

.feature-education .icon-holder {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	line-height: 100px;
	font-size: 43px;
	color: #4185F3;
	text-align: center;
	background: #fff;
	margin: 0 auto 10px;
}

.feature-education a h3{
	color: #fff;
}

@media( max-width: 991px) {
	.feature-education {
		position: relative;
		top: 0;
		margin-top: 60px;
	}
	.about-education .about-holder.section-wrapper{
		padding-top: 0;
	}

	.about-education .about-holder.section-heading.tmargin{
		margin-top:0;
	}
}
/*feature education end*/

/*category classified*/
.feature-row .icon-holder.round.orange{
	border: 2px solid #FF4000;
}

.feature-row .icon-holder.round.orange i{
	color: #FF4000;
}

.feature-row .icon-holder.round.red{
	border:2px solid #ED1C24;
}

.feature-row .icon-holder.round.red i{
	color: #ED1C24;
}

.feature-row .icon-holder.round.green{
	border: 2px solid #00A651;
}

.feature-row .icon-holder.round.green i{
	color: #00A651;
}

.feature-row .icon-holder.round.purple{
	border: 2px solid #8560A8;
}

.feature-row .icon-holder.round.purple i{
	color: #8560A8
}

.feature-row .icon-holder.round.pink{
	border: 1px solid #EC008C;
}

.feature-row .icon-holder.round.pink i{
	color: #EC008C;
}

.feature-row .icon-holder.round.blue{
	border: 1px solid #00AEEF;
}

.feature-row .icon-holder.round.blue i{
	color: #00AEEF;
}

.category-classified .feature-row .icon-holder.round{
	margin: 20px 0;
}

.category-classified .category-list ul.leaders li.list {
	border-bottom: none;
	padding: 0;
}

.category-classified .category-list ul.leaders li.list a:hover span{
	color: #00B259;
}

.category-classified .category-list ul.leaders li.list span {
	font-weight: 500;
	color: #545454;
	font-size: 16px;
}

.category-classified .category-holder h3{
	color: #333;
	font-size: 24px;
	margin-bottom:15px;
}

.category-classified .category-holder{
	padding: 0 25px;
}
/*category classified end*/

/*Description classified*/
.description-classified .contact-holder .icon-holder i{
	color: #333;
}
/*Description classified end*/

/*tab-category classify*/
.add-tab-category .col-md-3{
	margin: 5px 0px;
	padding: 0 5px;
}

.add-tab-category img{
	width: 100%;
}

.add-tab-category .category-desc{
	border: 1px solid #ddd;
}

.add-tab-category .classified-tab ul.tabs{
	border-bottom: 0;
}

.add-tab-category .classified-tab ul.tabs a.active {
	border-bottom: none;
	background: #208EE6;
	color: #fff;
}

.add-tab-category .classified-tab ul.tabs a {
	padding: 10px 30px;
	background: #fff;
}

.add-tab-category .classified-tab ul.tabs li {
	display: inline-block;
	width: auto;
	margin: 0 5px;
}

@media(max-width: 600px) {
	.add-tab-category .col-md-3{
		width: 100%;
	}
}
/*tab-category classify end*/

/*description classified*/
.description-classified{
	overflow: hidden;
}
/*description classified end*/

/*feature forum*/
.feature-forum .description {
	padding: 40px;
	margin: 10px 0;
}
.feature-forum .description h3 {
	margin-bottom: 10px;
}
.feature-forum .description .icon-holder i{
	font-size: 48px;
	color: #E91D62;
}

.feature-forum .description .icon-holder,
.feature-forum .description .feature-holder{
	display: inline-block;
}

.feature-forum .description .icon-holder{
	margin-right: 20px;
	vertical-align: top;
}

.feature-forum .description .feature-holder{
	width:70%;
}
/*feature forum end*/

/*Feature Wedding*/
.feature-wedding .description h3{
	margin-top: 20px;
	margin-bottom: 5px;
}
/*Feature Wedding end*/

/*All video*/
.video-grid .btn{
	position: absolute;
	top: 10px;
	left: 10px;
	border-radius: 0px;
	padding: 6px 15px;
	border-color: transparent;
}

.video-grid .video-holder{
	position: relative;
}

.video-grid .video-holder .img-holder{
	position: relative;
	height: 210px;
	overflow: hidden;
}

.video-grid .video-holder .img-holder .icon-holder{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 75px;
	width: 75px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.3);
	line-height: 75px;
	overflow: hidden;
}

.video-grid .video-holder .img-holder img{
	width: 100%;
}

.video-grid .video-holder .img-holder .icon-holder i{
	color: #000;
	font-size: 70px;
	line-height: 75px;
}

.video-grid .video-holder .img-holder .icon-holder:hover i {
	color: #D9121F;
	cursor: pointer;
}

.video-grid .video-holder .news-heading i{
	margin-right: 10px;
}

.video-grid .video-holder .news-heading ul li {
	color: #333;
	font-size: 18px;
	margin-right: 20px;
}

.video-grid .video-holder .news-heading ul li a{
	color: #333;
}

.video-grid .col-md-3{
	padding: 10px;
}

.video-grid  .loadmore{
	color: #D60919;
	font-size: 24px;
	font-weight: 700;
	text-transform: capitalize;
}
.video-grid  .loadmore i{
	display: block;
}

@media (max-width: 1199px){
	.video-grid .video-holder .img-holder{
		height: auto;
	}
}
/*All video end*/

/*Seo feature */
.feature-seo{
	overflow: hidden;
}
.feature-seo .feature-row .icon-holder.round{
	border-color: #0E90DC;
	overflow: hidden;
}

.feature-seo .feature-row .icon-holder.round i{
	color: #0E90DC;
	line-height: 100px;
}

.feature-seo .feature-row .description{
	padding: 0 15px;
}

.feature-seo .feature-row .description h3 a {
	color: #111;
}

.feature-seo button.btn{
	border: 1px solid #0E90DC;
	background: transparent;
	color: #0E90DC;
	font-size: 18px;
	padding: 15px 30px;
	border-radius: 0;
	margin-top: 20px;
}

.feature-seo button.btn:hover{
	background: #0E90DC;
	color: #fff;
}

.feature-seo button.btn.alter{
	background: #0E90DC;
	color: #fff;
}

.feature-seo button.btn.alter:hover{
	background: transparent;
	color: #0E90DC;
}
/*Seo feature end*/

/*seo offer*/
.offer-seo .flip-container{
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	margin: 10px 0;
}
.offer-seo .description{
	padding: 30px 20px;
	background: #fff;
}

.offer-seo .description h3{
	text-transform: uppercase;
}

.offer-seo .description i{
	height: 120px;
	width: 120px;
	line-height: 120px;
	background: #eee;
	border-radius: 50%;
	font-size: 48px;
}

.offer-seo .description h3{
	margin-top: 10px;
}

.offer-seo .flip-container, 
.offer-seo .front, 
.offer-seo .back {
	width: 100%;
	height: 240px;
	overflow: hidden;
}

.offer-seo .flip-container .desc-back{
	padding: 20px;
}

.offer-seo .flip-container .desc-back .section-heading h3 {
	font-size: 20px;
	color: #fff;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.offer-seo .flip-container .desc-back .section-heading h3:after{
	background: rgba(0, 0, 0, 0.21);
	margin: 10px auto;
}

.offer-seo .flip-container .desc-back p{
	color: #fff;
}

.offer-seo .flip-container .desc-back .button-holder{
	position: absolute;
	bottom: 0;
	background: rgba(0,0,0,0.2);
	padding: 15px;
	width:100%;
	left: 0;
}

.offer-seo .flip-container .desc-back .button-holder a{
	color: #fff;
}

.offer-seo .flip-container .desc-back .button-holder a i{
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
}

.offer-seo .flip-container .desc-back .button-holder a:hover i{
	margin-left: 10px;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
}

/*seo offer end*/

/*latest realestate*/
.latest-realestate .category-desc{
	padding: 12px;
	background: #fff;
}

.latest-realestate .category-desc .img-holder{
	position: relative;
}

.latest-realestate .category-desc .img-holder img{
	width: 100%;
}

.latest-realestate .category-desc .img-holder:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(255,255,255,0);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(246,246,246,0) 0%, rgba(121,121,121,0) 51%, rgba(0,0,0,0.93) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(0%, rgba(246,246,246,0)), color-stop(51%, rgba(121,121,121,0)), color-stop(100%, rgba(0,0,0,0.93)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(246,246,246,0) 0%, rgba(121,121,121,0) 51%, rgba(0,0,0,0.93) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(246,246,246,0) 0%, rgba(121,121,121,0) 51%, rgba(0,0,0,0.93) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(246,246,246,0) 0%, rgba(121,121,121,0) 51%, rgba(0,0,0,0.93) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(246,246,246,0) 0%, rgba(121,121,121,0) 51%, rgba(0,0,0,0.93) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
	z-index: 1;
}

.latest-realestate .category-desc button,
.latest-realestate .category-desc .pricing{
	position: absolute;
	z-index: 9;
}

.latest-realestate .category-desc .img-holder button{
	top:10px;
	border-radius: 0;
	text-transform: uppercase;
	border: none;
	padding: 8px 15px;
}

.latest-realestate .category-desc .img-holder button.feature{
	left: 10px;
}

.latest-realestate .category-desc .img-holder button.sale{
	right: 10px;
}

.latest-realestate .category-desc .pricing{
	width: 100%;
	font-size: 24px;
	color: #fff;
	bottom: 10px;
	padding: 0 10px;
}

.latest-realestate .category-desc .pricing a{
	color: #fff;
}

.latest-realestate .category-desc .pricing i{
	margin: 0 10px;
}

.latest-realestate .category-desc .classified-desc h3{
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 5px;
}

.latest-realestate .category-desc .classified-desc h3 a{
	color: #222;
}

.latest-realestate .classified-desc p{
	margin-bottom: 5px;
	font-size: 16px;
}

.latest-realestate .classified-desc p.desc{
	color: #888;
}

.latest-realestate .classified-desc p.detail{
	color: #212121;
	font-weight: 600;
}

.latest-realestate .classified-desc{
	position: relative;
}

.latest-realestate .classified-desc button{
	bottom: -23%;
	left: 50%;
	transform: translate(-50%);
	border-radius: 0;
	text-transform: uppercase;
	border: none;
	padding: 10px 20px;
}

.latest-realestate .classified-desc button i{
	margin-left: 10px;
}

.latest-realestate .classified-desc button:hover{
	background: #265C88;
}

.latest-realestate .btn.view{
	border: 1px solid #555;
	color: #555;
	border-radius: 0;
	padding: 12px 50px;
	margin-top:50px;
	color: #555;
	border: 1px solid #555;
	font-size: 18px;
	background: transparent;
}

.latest-realestate .btn.view:hover{
	background: #555;
	color: #fff;
}

@media (max-width: 991px){
	.latest-realestate .category-desc .img-holder {
		height: 200px;
	}
	.latest-realestate .realestate-feature-carousel .category-desc .img-holder {
		height: 100%;
	}
}

@media (max-width: 991px){
	.latest-realestate .category-desc {
		width: 400px;
		margin: 0 auto;
	}
	.latest-realestate .realestate-feature-carousel .category-desc{
		width: 100%;
	}
	.latest-realestate .realestate-feature-carousel .category-desc .img-holder{
		height: 100%;
	}
	.latest-realestate .category-desc .img-holder {
		height: 260px;
	}
}
@media (max-width: 450px){
	.latest-realestate .category-desc {
		width: 100%;
	}
	.latest-realestate .category-desc .img-holder {
		height: 100%;
	}
}
/*latest realestate end*/

/*Service Realestate*/
.service-realestate{
	background: url(../../images/feature-news/service-real.jpg);
	background-attachment: fixed;
	background-size: cover;
	position: relative;
}

.service-realestate:after{
	content: '';
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(51, 122, 183, 0.85);
	z-index: 1;
}

.service-realestate .container{
	z-index: 9;
}

.service-realestate .section-heading h2,
.service-realestate .section-para p,
.service-realestate .round i,
.service-realestate .description h3 a,
.service-realestate .description p,
.service-realestate .description a{
	color: #fff;
}

.service-realestate .feature-row .icon-holder.round{
	border-color: #fff;
}

.service-realestate .description a.readmore{
	font-size: 18px;
}
.service-realestate .description a.readmore i{
	margin-left: 10px;
}

.service-realestate .owl-controls{
	margin-top: 30px;
}

.service-realestate .owl-controls .owl-dots .owl-dot{
	border-color: #fff;
}

.service-realestate .owl-controls .owl-dots .active{
	background: #fff;
}
/*Service Realestate end*/

/*Feature carousel  realestate*/
.latest-realestate .realestate-feature-carousel .category-desc {
	padding: 10px;
	background: rgba(238, 238, 238, 0.37);
}
.latest-realestate .realestate-feature-carousel h3 a{
	color: #212121;
	font-size: 24px;
	font-weight: 600;
}

.latest-realestate .realestate-feature-carousel .owl-controls{
	text-align: center;
}

.latest-realestate .realestate-feature-carousel .owl-controls .owl-prev, 
.latest-realestate .realestate-feature-carousel .owl-controls .owl-next {
	display: inline-block;
	margin: 0 5px;
}

.latest-realestate .realestate-feature-carousel .owl-controls .owl-prev i, 
.latest-realestate .realestate-feature-carousel .owl-controls .owl-next i {
	background: #EFEFEF;
	border-radius: 50%;
	height: 60px;
	width: 60px;
	line-height: 60px;
	border: 1px solid #EFEFEF;
	text-align: center
	
}

.latest-realestate .realestate-feature-carousel .owl-controls .owl-prev i:hover, 
.latest-realestate .realestate-feature-carousel .owl-controls .owl-next i:hover{
	background: #FF8000;
	color: #fff;
	border-color: #FF8000;
}

/*Feature carousel realestate end*/

/*feature fitness*/
.feature-fitness{
	border-top: 1px solid #141414;
	border-bottom: 1px solid #141414;
}

.feature-fitness .feature-row .icon-holder.round {
	background: rgba(255, 255, 255, 0.03);
	border-color: transparent;
	transition: all 0.6s ease-in-out;
	-webkit-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
}

.feature-fitness .feature-row .icon-holder.round i{
	color: #fff;
	line-height: 100px;
}

.feature-fitness .col-md-3:hover .icon-holder.round{
	background: #fff;
	transition: all 0.6s ease-in-out;
	-webkit-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
}
.feature-fitness .col-md-3:hover .icon-holder.round i{
	color: #000;
}

.feature-fitness .feature-row .description h3 {
	margin-bottom: 5px;
}

.feature-fitness .feature-row .description h3 a {
	color: #FFF;
	margin-bottom: 5px;
}
/*feature fitness end*/

