/*Gallery Restaurant begins*/

.gallery-restaurant {
	position: relative;
	background: url(../../images/gallery/restaurant-bg.jpg) center;
	background-attachment: fixed;
	background-size: cover;
}
.gallery-restaurant:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.82);
	height: 100%;
	width: 100%;
	z-index: 1;
}

.gallery-restaurant .container {
	z-index: 2;
}

.gallery-restaurant .section-heading h2 {
	color: #FFF;
	font-weight: 800;
}

.gallery-restaurant .gallery-holder {
	display: table;
	margin: 35px auto 0;
}

.gallery-restaurant a.view-all {
	color: #FFF;
	display: inline-block;
	font-size: 24px;
	font-weight: 600;
	border: 1px solid #FFF;
	padding: 4px 29px;
	margin-top: 30px;
	border-radius: 27px;
}

.gallery-restaurant a.view-all:hover {
	background: #FFF;
	color: #272727;
}

.gallery-restaurant .gallery-holder img {
	width: 100%;
	overflow: hidden;
}

.gallery-restaurant .gallery-item-dual img {
	width: 366px;
	height: 216px;
}

.gallery-restaurant .gallery-item-big img {
	width: 366px;
	height: 432px;
	overflow: hidden;
}

.gallery-restaurant .gallery-item-dual,
.gallery-restaurant .gallery-item-big {
	display: table-cell;
	width: 33.33%;
	overflow: hidden;
	vertical-align: top;
}

.gallery-restaurant .gallery-item-dual div {
	height: 50%;
}

/* Restaurant Gallery Ends */

/* Realestate Property Gallery Begins */
.property-realestate .property-holder {
	display: table;
	margin: 60px 0 0;
}

.property-realestate img {
	width: 100%;
	overflow: hidden;
}

.property-realestate  .property-item-single {
	display: table-cell;
	width: 33.33%;
	overflow: hidden;
	vertical-align: top;
}

.property-realestate  .property-item-single > div,
.property-realestate  .property-item-triple > div,
.property-realestate  .property-item-dual > div {
	position: relative;
}

.property-realestate  .property-item-single > div:after,
.property-realestate  .property-item-triple > div:after,
.property-realestate  .property-item-dual > div:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
	background: rgba(246,246,246,0);
	background: -moz-linear-gradient(top, rgba(246,246,246,0) 0%, rgba(255,255,255,0) 1%, rgba(229,229,229,0) 11%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246,246,246,0)), color-stop(1%, rgba(255,255,255,0)), color-stop(11%, rgba(229,229,229,0)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(246,246,246,0) 0%, rgba(255,255,255,0) 1%, rgba(229,229,229,0) 11%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(246,246,246,0) 0%, rgba(255,255,255,0) 1%, rgba(229,229,229,0) 11%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(246,246,246,0) 0%, rgba(255,255,255,0) 1%, rgba(229,229,229,0) 11%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(246,246,246,0) 0%, rgba(255,255,255,0) 1%, rgba(229,229,229,0) 11%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#000000', GradientType=0 );
}

.property-realestate  .property-item-single > div p,
.property-realestate  .property-item-triple > div p,
.property-realestate  .property-item-dual > div p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	font-size: 36px;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 5px;
	text-shadow: 1px 1px 2px #000;
}

.property-realestate  .property-item-single img {
	width: 390px;
	height: 669px;
}

.property-realestate  .property-item-triple {
	display: table-cell;
	width: 66.67%;
	overflow: hidden;
	vertical-align: top;
	padding-left: 37px;
}

.property-realestate  .property-item-triple > div img {
	width: 751px;
	height: 316px;
}

.property-realestate  .property-item-dual {
	margin-top: 37px;
}

.property-realestate  .property-item-dual img {
	width: 355px;
	height: 312px;
}

.property-realestate  .property-item-dual > div:first-child {
	margin-right: 2%;
}

.property-realestate  .property-item-dual > div {
	float: left;
	width: 49%;
}

@media (max-width: 991px){
	.property-realestate .property-item-dual > div {
		width: 100%;
	}
	.property-realestate .property-item-dual {
		margin-top: 0;
	}
	.property-realestate .property-item-triple {
		width: 50%;
	}
	.property-realestate .property-item-single{
		width: 50%;
	}
}

@media (max-width: 991px){
	.property-realestate .property-item-triple {
		width: 100%;
		display: block;
		padding-left: 0;
	}
	.property-realestate .property-item-single{
		width: 100%;
		display: block;
	}

	.property-realestate .property-item-single img,
	.property-realestate .property-item-triple img{
		width: 100%;
	}
}
/* Realestate Property Gallery Ends */