.pricing-wrapper{
	margin-top:50px;
}

.pricing-wrapper .pricing-holder {
	border: 1px solid #ddd;
  transition: .3s all ease-in-out;
  position: relative;
  overflow: hidden;
  margin: 0 auto 10px;
}

.pricing-wrapper .pricing-holder:before {
  box-sizing: border-box;
  transform: translateX(100%);
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.pricing-wrapper .pricing-holder:after {
  box-sizing: border-box;
  transform: translateX(-100%);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.pricing-wrapper .pricing-holder:hover {
  color: inherit;
  text-decoration: none;
  border: 1px solid transparent;
}

.pricing-wrapper .pricing-holder:hover:before {
  transition: .1s transform linear, .1s height linear .1s;
  transform: translateX(0);
  height: 100%;
  border-color: #FE4918;
}

.pricing-wrapper .pricing-holder:hover:after {
  transition: .1s transform linear .2s, .1s height linear .3s;
  transform: translateX(0);
  height: 100%;
  border-color: #FE4918;
}

.pricing-wrapper p.pricing-context {
  color: #FE4918;
  font-size: 25px;
  font-weight: 700;
  margin: 40px 0 0;
  margin-bottom: 0;
}

.pricing-holder:hover p.pricing-price{
	color: #FE4918;
}

.pricing-wrapper p.pricing-price {
  color: #222;
  font-size: 48px;
  font-weight: 700;
  margin-top: 0;
}

.pricing-wrapper p span {
  font-size: 34px;
}

.pricing-holder ul {
  margin-bottom: 40px;
}

.pricing-holder ul li {
  font-size: 18px;
  margin-bottom: 5px;
  list-style: none;
}

.pricing-holder ul li:before {
  content: '\f00c';
  font-family: 'fontawesome';
  margin-right: 10px;
}

.pricing-holder a {
  border: 1px solid #FE4918;
  color: #FE4918;
  display: inline-block;
  font-size: 18px;
  margin-bottom: 40px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  z-index:1;
  transition: .3s all ease-in-out;
  -moz-transition: .3s all ease-in-out;
  -webkit-transition: .3s all ease-in-out;
}

.pricing-wrapper .pricing-holder:hover a {
  background: #FE4918;
  color: #FFF;
}

@media (min-width:400px) and (max-width: 768px) {
	.pricing-wrapper .pricing-holder{
		width: 350px;
	}
}
@media (max-width:400px) {
	.pricing-wrapper .pricing-holder{
		width: 100%;
	}
}
/*coupon*/
.coupon {
  background: #f9f9f9;
}
.coupon p {
  margin-bottom: 0;
}
.coupon .coupon-discount {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 0;
}

.coupon .coupon-para {
  color: #000;
  font-weight: 500;
  font-size: 18px;
}

.coupon-form-one {
  margin-bottom: 0;
  position: relative;
  width: 80%;
}

.coupon-form-one input {
  background: #FFF;
  border-radius: 25px;
  height: 45px;
  position: relative;
  width: 100%;
  padding-right: 100px;
  box-shadow: none;
}

.coupon-form-one span.coupon-button {
  position: absolute;
  right: 0;  
  top: 0;
}

.coupon-form-one .btn {
  background: #FFC400;
  border: 1px solid #FFC400;
  color: #000;
  text-transform: uppercase;
  height: 45px;
  border-radius: 25px;
  padding: 0 30px;
}
/*coupon*/

/*realestate pricing*/
.pricing-realestate{
  background: #337AB7;
}

.pricing-realestate ul{
  margin: 0;
}

.pricing-realestate ul li{
  display: inline-block;
}

.pricing-realestate ul.tabs{
  margin: 0;
  border-bottom: none;
}

.pricing-realestate ul li{
  width: initial;
}

.pricing-realestate ul.tabs li {
  border: 1px solid #fff;
  padding: 1px 20px;
}

.pricing-realestate ul.tabs li a{
  color: #fff;
}

.pricing-realestate ul.tabs a.active {
  border-bottom:none;
}

.pricing-realestate ul.tab-link li a{
  color: #fff;
  padding:0 20px;
  line-height: 2.8;
}

.pricing-realestate ul.tab-link li a:before{
  content: '#';
  margin-right: 2px;
}

.pricing-realestate .link-holder{
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
  padding: 15px 0;
}

.pricing-realestate .content-holder{
  padding: 15px 0 0;
}

.pricing-realestate .content-holder form{
  margin-bottom: 0;
}

.pricing-realestate .content-holder form ul li{
  width: 24%;
  padding: 0 10px;
}
.pricing-realestate .content-holder form ul li.long-width{
  width: 40%;
}

.pricing-realestate .content-holder form ul li label{
  position: relative;
  width: 100%;
}

.pricing-realestate .content-holder form ul li label select{
  height: 45px;
  line-height: 45px;
  width: 100%;
  border: none;
  margin-bottom: 25px;
}

.pricing-realestate .content-holder label select option{
  padding: 3px 5px;
}

.pricing-realestate .content-holder form label::after {
  content: '\f0d7';
  position: absolute;
  font-family: 'fontawesome';
  height: 45px;
  width: 45px;
  line-height: 45px;
  background: #fff;
  top: 0;
  right: 0;
  color: #AAA;
  text-align: center;
}

.pricing-realestate .content-holder form .price-slider{
  padding: 0 10px;
}

.pricing-realestate .content-holder form .price-slider p{
  color: #fff;
  margin-bottom: 0;
  top: -8px;
  position: relative;
}

.pricing-realestate .content-holder form .price-slider .noUi-horizontal {
  height: 8px;
}

.pricing-realestate .content-holder form .price-slider .noUi-horizontal .noUi-handle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #265E8A;
  border: none;
  box-shadow: none;
  left: -8px;
}

.price-slider .noUi-handle::before, 
.price-slider .noUi-handle::after {
  display: none
}

.price-slider .noUi-connect {
  background: #265E8A;
  box-shadow: none;
}

.price-slider .noUi-background {
  background: #337AB7;
  box-shadow: none;
  border: 1px solid #265E8A;
}

.pricing-realestate .content-holder form li.button-filter{
  width: 19%;
}

.pricing-realestate .content-holder form li .btn.filter{
  background: #FF8000;
  text-transform: uppercase;
  padding: 10px 50px;
  border: 1px solid #FF8000;
  border-radius: 0;
  font-size: 18px;
}

.pricing-realestate .content-holder form li .btn.filter:hover{
  background: #FFA74F;
  color: #FFF;
}

@media (max-width: 991px){
  .pricing-realestate .content-holder form ul li.long-width {
    width: 48%;
  }
  .pricing-realestate .content-holder form li.button-filter {
    width: 100%;
  }
  .pricing-realestate .content-holder form li .btn.filter{
    margin-bottom: 15px;
  }
}

@media (max-width: 991px ){
  .pricing-realestate .content-holder form ul li {
    width: 49%;
  }
  .pricing-realestate .content-holder form ul li.long-width {
    width: 49%;
  }
}

@media (max-width: 600px ){
  .pricing-realestate .content-holder form ul li {
    width: 100%;
  }
  
  .pricing-realestate .content-holder form ul li.long-width {
    width: 100%;
  }

  .pricing-realestate ul.fright {
    float: left !important;
  }

  .pricing-realestate .content-holder form li.button-filter {
    margin-top: 20px;
  }
}
/*realestate pricing end*/

/*Pricing Fitness */
.pricing-fitness .pricing-wrapper .pricing-holder {
  background: #111;
  border: 2px solid #0E0E0E;
}

.pricing-fitness .pricing-wrapper p.pricing-context{
  margin-top: 0;
  margin-bottom: 5px;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.pricing-fitness .pricing-wrapper .pricing-label{
  padding: 30px 0;
}

.pricing-fitness .pricing-wrapper p.type{
  text-transform: uppercase;
  color: #333;
  font-size: 18px;
  margin-bottom: 5px;
}

.pricing-fitness .pricing-wrapper p.pricing-price {
  color: #fff;
  margin-bottom: 0;
  line-height: 1;
}

.pricing-fitness .pricing-holder ul {
  margin-top: 40px;
}

.pricing-fitness .pricing-holder ul li::before {
  content: '\f138';
}

.pricing-fitness .pricing-holder ul li{
  text-align: left;
  text-indent: 76px;
  margin: 3px 0;
}

.pricing-fitness .pricing-holder a {
    border: 1px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
}

.pricing-fitness .pricing-wrapper .pricing-holder:hover::before,
.pricing-fitness .pricing-wrapper .pricing-holder:hover::after{
  border-color: #272727;
}

.pricing-fitness .pricing-wrapper .pricing-holder:hover a{
  background: #B20000;
  border-color: #B20000;
}
/*Pricing Fitness end*/