@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    font-size: 18px;
}
body{
    background-color: #eee;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    transition: 0.5s all ease;
    line-height: 1.5;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
p{
    margin: 0
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
img{
    width: 100%;
    margin: 0;
}
.clearfix::before,
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
/*--------Container-------*/
.bt-container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
/*----------------*/
.top-header{
    display: block;
    width: 100%;
    z-index: 11;
    width: 100%;
    padding: 30px 0;
    transition: 0.5s all ease;
}
.top-header:after{
    content: '';
    display: block;
    clear: both;
}
.fixed-header {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 20px 0;
    z-index: 11111;
    background-color: rgba(17, 17, 17, 0.815);
  }
/*--------Logo----------*/
.bt-logo{
    height: 100%;
    float: left;
    line-height: 100%;
}
.bt-logo h2 {
    color: #fff;
    font-family: 'Patua One', sans-serif;
    font-size: 30px;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #111;
}
.bt-logo h2 span{
    color: #35d17e;
}
/*-------Navigation--------*/
/*--Responsive--*/
#toggle{
    display: none;
}
.icon{
    width: 50px;
    height: 50px;
    position: relative;
    display: none;
    cursor: pointer;
}
.hamburger{
    background-color: #fff;
    width: 30px;
    height: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.icon .hamburger:before,.icon .hamburger:after{
    content: '';
    background-color: #fff;
    position: absolute;
    width: 30px;
    height: 5px;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    transition: 0.5s all ease;
}
.icon .hamburger:before{
    top: -10px
}
.icon .hamburger:after{
    top: 10px;
}
.icon.active .hamburger{
    background-color: transparent;
}
.icon.active .hamburger:before{
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
}
.icon.active .hamburger:after{
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 0;
}

nav{
    width: 100%;
}
.menu{
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.menu:after{
  content: '';
  display: block;
  clear: both;
}
.menu li{
  display: inline-block;
    position: relative;
}
/*.menu > li:last-child > a{
    background-color: #F9F808;
    color: #333;
    border-radius: 5px;
    box-shadow: 0px 5px 0px 0px #D8AB00;
}
.menu > li:last-child > a:hover{
    color: #333;
}*/
.menu li.active a,.menu li a:hover{
    color: #fff;
    border-bottom: 2px solid #fff;
    transition: 0.5s all ease;
}
.menu li a{
    padding: 5px 10px;
    margin:0 10px;
    display: block;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 15px;
}
.menu ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    min-width: 200px;
    width: 100%;
    top: 100%;
    background-color: #333;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    transition: 0.3s all ease-in-out;
}
.menu ul li a{
    display: block;
    color: #fff;
}
.menu ul li{
    float: none;
}
.menu ul ul{
    position: absolute;
    left: 100%;
    top: 0;
}
.menu li:hover>ul{
    opacity: 1;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    visibility: visible;
    transition: 0.3s all ease-in-out;
}

/*-------------Banner---------------*/

.banner-section{
    background-image: url(../images/bg.jpg);
    height: 75vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
}
.banner-section::before{
    content: '';
    background: linear-gradient(rgba(46, 46, 47, 0.88), rgba(27, 26, 27, 0.92));
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.top-header .bt-content-wrp{
    z-index: 111;
    position: relative;
}
.bt-banner-content .bt-container{
    position: relative;
}
.banner-text {
    color: #fff;
    transform: translatey(50%);
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.top-header{
    position: relative;
    z-index: 111;
}
.banner-text span{
    display: block;
    text-align: left;
    letter-spacing: 2px;
    color: #ccc;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 12px
}
.banner-text h2 {
    font-size: 1.8rem;
    text-transform: capitalize;
    line-height: 1;
}
.banner-text p{
    margin-bottom: 40px;
    font-size: 14px;
}
.banner-btn {
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #eee;
    font-size: 12px;
    background-color: #FFA500;
    border-radius: 30px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.banner-btn.alter{
    background-color:transparent;
    border: 1px solid #eee;
    color: #fff;
}
section{
    background-color: #fff;
}
/*
.bt-demos,.bt-demos2,.bt-demos3,.bt-feature-section{
    position: relative;
    padding: 90px 0 180px 0;
    background-color: #0a6ac5;
}
.bt-demos{
    background-color: #fff;
}
/*.bt-demos::before,
.bt-demos2::before,
.bt-demos3::before,
.bt-feature-section::before{
    content: '';
    position: absolute;
    border-bottom: 90px solid #fff;
    border-left: 100vw solid transparent;
    top: -90px;
}
.bt-demos2::before{
    border-bottom: 90px solid #0a6ac5;
}
.bt-demos3{
    background-color: #fff;
}
.bt-demos3::before{
    border-bottom: 90px solid #fff;
}
*/
.bt-demo-wrp{
    display: table;
}
.img-holder{
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}
.text-holder{
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    padding: 0 0 0 20px;
}
.text-holder h2{
    margin-bottom: 20px;
    text-transform: uppercase;
}
.text-holder p{
    color: #777;
    margin-bottom: 30px;
}
.btn{
    display: inline-block;
    background-color: #F9F808;
    box-shadow: 0px 5px 0px 0px #D8AB00;
    color: #333;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.bt-demos2 h2,.bt-demos2 p{
    color: #fff;
}
.bt-demos2 .text-holder{
    padding-left: 0;
    padding-right: 20px;
}

.title{
    text-align: center;
    font-size: 25px;
    color: #333;
    position: relative;
    margin-bottom: 90px;
    text-transform: uppercase;
}
.title::after{
    content: '';
    display: inline-block;
    width: 10px;

    height: 10px;
    border-radius: 50%;
}

/*-----feature Section---------*/
.featureimage-wrp {
    font-size: 0;
}

.feature {
    padding: 0 20px;
    margin-bottom: 20px;
    min-height: 30px;
    width: calc(25% - 20px);
    display: inline-block;
    padding: 20px;
    text-align: center;
    margin-right: 20px;
    border: 1px solid #eee;
    box-shadow: 1px 1px 20px #33333317;
}
.feature:nth-child(4n+4){
    margin-right: 0
}
.featureimage-wrp::after{
    content: '';
    display: table;
    clear: both;
}
.bt-icon{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin-bottom: 15px;
}
.bt-icon i {
    border-radius: 50%;
    line-height: 80px;
    box-shadow: 1px 1px 5px #ccc;
    color: #fff;
    text-align: center;
    font-size: 31px;
    margin-bottom: 15px;
    width: 80px;
    height: 80px;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    margin: 0 auto;
}
.feature-name {
    vertical-align: top;
    color: #333;
    display: inline-block;
    width: 85%;
}
.feature-name h3{
    margin-bottom: 10px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
.feature-name p{
    font-size: 12px;
    color: #999;
}
.left .feature-name{
  text-align: right;
  padding-right: 20px;
}
.footer {
    background-color: #111;
    padding: 30px 0;
    color: #fff;
    text-align: center;
    font-size: 14px;
}
.footer a{
    color: #006bed;
}
.bt-feature-section{
    background-color: #fff;
    padding: 90px 0;
    position: relative;
}
.bt-feature-section::after,
.bt-feature-section::before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
}
/*------------Video Section---------------*/
.video-section{
    background-image: url(../images/video.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 90px 0;
    position: relative;
    text-align: center;
    color: #ccc;
}
.video-section .bt-container{
    position: relative;
    z-index: 11;
}
.video-section::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.842);
}
.video-section .title{
    color: #ccc;
    margin-bottom: 10px;
}
.video-icon{
    margin: 0 auto 20px auto;
    width: 60px;
    height: 60px;
}
.video-icon img{
    transition: 0.5s all ease;
}
.video-icon a:hover img{
    transform: scale(1.1);
}


/*------------------Demos-----------------*/
.bt-demos {
    padding: 90px 0;
    background: #f7f7f7;
    border-top: 1px solid #ddd;
}
.demo{
    width: 30.6%;
    float: left;
    margin:0 4% 4% 0;
}
.demo-wrp div.demo:nth-child(3n){
    margin-right: 0;
}
.demo-wrp h5 {
    text-align: center;
    margin-bottom: 10px;
}
.box{
    background: #111;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    line-height: 0;
}
.button a {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-0%, -50%);
    padding: 10px 30px;
    border-radius: 5px;
    text-align: center;
    background: orange;
    color: #fff;
    line-height: 15px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s all ease;
}
.box:hover .button a {
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
}
.banner-text-one {
    text-align: center !important;
}
.bt-banner-content-second {
    background-color: #57c5c0;
    position: relative;
    z-index: 1;
    padding: 30px 0;
}
.banner-text {
    color: #fff;
    transform: translatey(50%);
    width: 55%;
    margin: 0 auto;
    text-align: center;
}
.banner-text-one h1 {
    float: left;
    width: 55%;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 00;
    font-style: italic;
}
.banner-text-one a{
    float: right;
}
.banner-text-one:after{
    clear: both;
    content:  '';
    display: block;
}
.banner-text h1 {
    font-size: 3rem;
    margin: 20px 0;
}
