html, body {
	overflow:hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

#myContainer .ms-section{
	overflow: hidden;
}

#myContainer .slide-item.fullscreen {
	width: 200%;
	height: 100%;
	position: relative;
	overflow: hidden;
	display: block;
	background-origin: border-box;
	background-repeat: no-repeat;
}

#myContainer .text-overlay {
	position: relative;
	top: 50%;
	width: 100%;
	padding: 40px;
	text-align: center;
	word-wrap: break-word;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 99;
}

#myContainer .ms-right .fullscreen {
	left: -100%;
}

#myContainer .ms-left .fullscreen {
	z-index: 1000;
}

#myContainer .width-left-50 {
	height: 100%;
	position: absolute;
	left: 0;
	width: 50%;
}

#myContainer .width-right-50 {
	height: 100%;
	position: absolute;
	right: 0;
	width: 50%;
}

#myContainer .width-right-50,
#myContainer .width-left-50 {
	padding: 60px;
}

.bg-pink{
	background: #E33258 !important;
}

span.pink{
	color: #FE4365;
}

.padding60{
	padding: 60px;
	height: 100%;
}

.section-heading {
	margin: 40px 0;
}

/*Introduction*/

#myContainer .introduction-personal .ms-section{
	overflow: visible;
}


.introduction-personal a.logo-holder {
	height: 80px;
	width: 80px;
	background: #fff;
	display: block;
	border-radius: 50%;
	line-height: 80px;
	text-align: center;
	color: #EB5255;
}

.introduction-personal ul.social li{
	display: inline-block;
	padding: 0 2px;
}

.introduction-personal ul.social li i{
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 0.35);
	color: #fff;
}

.introduction-personal .intro-personal {
	position: relative;
	transform: translate(0,-40%);
	top: 40%;
}

.introduction-personal .intro-personal h2{
	color: #fff;
	font-size: 32px;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 5px;
}

.introduction-personal .intro-personal p{
	font-size: 18px;
	color: #fff;
	letter-spacing:2px;
	text-transform: capitalize;
	margin-bottom: 15px;
}

.introduction-personal .intro-personal.border{
	border: 10px solid #DB3C5E;
	display: inline-flex;
	float: right;
	transform: translate(0,-50%);
	top: 50%;
}

.introduction-personal .intro-personal.border h2{
	color: #212121;
	margin: 40px;
	font-weight: 700;
}

.introduction-personal .intro-personal.border h2 span{
	clear: both;
	display: block;
	font-size: 22px;
	letter-spacing: 2px;
	font-weight: 700;
}

#myContainer .introduction-personal.ms-section{
	overflow: visible;
}

#myContainer .introduction-personal .text-overlay{
	position: absolute;
	transform: translate(-50%,-50%);
	left: 100%;
	width: 300px;
}

/*introduction peronal end */

/*menu*/
.introduction-personal .menu-holder{
	background: #E33258;
	position: relative;
	margin: 0 auto;
	width: 215px;
	height: 215px;
	border-radius: 50%;
	padding: 4px;
}
.introduction-personal .menu-holder:after{
	position: absolute;
	content: '';
	height: 208px;
	width: 208px;
	background: transparent;
	border: 1px solid #fff;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	border-radius: 50%;
	z-index:1;
}

.introduction-personal .menu-holder.full .selector {
	position: relative;
	width: 80px;
	height: 80px;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	z-index:99;
}

.introduction-personal .menu-holder.full .selector,
.introduction-personal .menu-holder.full .selector #dropbox {
	font-weight: 300;
}

.introduction-personal .menu-holder.full .selector #dropbox {
	position: relative;
	width: 80px;
	height: 80px;
	background: #FE4365;
	border-radius: 50%;
	color: #fff;
	font-size: 18px;
	border: 1px solid #fff;
	transition: all .1s;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	box-sizing: border-box;
}
.introduction-personal .menu-holder.full .selector #dropbox span{
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: block;
	line-height: 1;
}

.introduction-personal .menu-holder.full .selector #dropbox:hover { background: #E33258; }

.introduction-personal .menu-holder.full .selector #dropbox:focus { outline: none; }

.introduction-personal .menu-holder.full .selector ul {
	position: absolute;
	list-style: none;
	padding: 0;
	margin: 0;
	top: -20px;
	right: -20px;
	bottom: -20px;
	left: -20px;
	transform: rotate(15deg);
}

.introduction-personal .menu-holder.full .selector li {
	position: absolute;
	width: 0;
	height: 100%;
	margin: 0 50%;
	-webkit-transform: rotate(-360deg);
	transition: all 0.8s ease-in-out;
}

.introduction-personal .menu-holder.full .selector li a {
	position: absolute;
	left: 50%;
	bottom: 95%;
	width: 0;
	height: 0;
	line-height: 1px;
	margin-left: 0;
	border-radius: 50%;
	text-align: center;
	font-size: 1px;
	box-shadow: none;
	transition: all 0.8s ease-in-out, color 0.1s, background 0.1s;
}

.introduction-personal .menu-holder.full .selector li a i{
	transform: rotate(-15deg);
}

.introduction-personal .menu-holder.full .selector li a:hover { color: #000; }

.introduction-personal .menu-holder.full .selector.open li a {
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-left: -40px;
	font-size: 30px;
	color: #fff;
}

/*menu half-circle*/

.menu-holder.half{
	height:45px;
	width:90px;
	border-radius: 0 0 90px 90px;
	-moz-border-radius: 0 0 90px 90px;
	-webkit-border-radius: 0 0 90px 90px;
	background: #E33258;
	position: absolute;
	top:0;
	left: 50%;
	transform: translate(-50%,0);
	text-align: center;
	z-index: 999;
} 

.menu-holder.half:after{
	content: '';
	height: 43px;
	width: 84px;
	border-radius: 0 0 86px 86px;
	-moz-border-radius: 0 0 86px 86px;
	-webkit-border-radius: 0 0 86px 86px;
	border: 1px solid #fff;
	position: absolute;
	top: -2px;
	left: 50%;
	transform: translate(-50%,0);
} 

.menu-holder.half button{
	position: relative;
	z-index: 9;
	font-size: 20px;
	color: #fff;
	text-align: center;
	border: none;
	background:transparent;
	padding: 6px 0;
}

.menu-wrap .menu{
	position: fixed;
	width: 100%;
	text-align: center;
	display: block;
	background: rgba(255, 255, 255, 0.9);
	left: 0;
	height: 0;
	z-index: 9999;
	transition: all 0.6s ease-in-out;
	top: -100vh;
}

.menu-wrap .menu.open{
	height: 100vh;
	top: 0;
	transition: all 0.6s ease-in-out;
}

.cross-button {
	position: absolute;
	right: 10%;
	font-weight: 800;
	background: none;
	border: none;
	font-size: 30px;
	top: 40px;
	color: #E33258;
}

.menu-wrap .menu .menu-holder{
	background: #E33258;
	position: relative;
	margin: 0 auto;
	width: 215px;
	height: 215px;
	border-radius: 50%;
	padding: 4px;
	top: 50%;
	transform: translate(0, -50%);
}

.menu-wrap .menu .menu-holder:after{
	position: absolute;
	content: '';
	height: 208px;
	width: 208px;
	background: transparent;
	border: 1px solid #fff;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	border-radius: 50%;
	z-index:1;
}


.selector-half {
	position: relative;
	width: 80px;
	height: 80px;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	z-index:99;
}

.selector-half,
.selector-half #dropbox {
	font-weight: 300;
}

.selector-half #dropbox {
	position: relative;
	width: 80px;
	height: 80px;
	background: #FE4365;
	border-radius: 50%;
	color: #fff;
	font-size: 18px;
	border: 1px solid #fff;
	transition: all .1s;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	box-sizing: border-box;
}
.selector-half #dropbox span{
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: block;
	line-height: 1;
}

.selector-half #dropbox:hover { background: #E33258; }

.selector-half #dropbox:focus { outline: none; }

.selector-half ul {
	position: absolute;
	list-style: none;
	padding: 0;
	margin: 0;
	top: -20px;
	right: -20px;
	bottom: -20px;
	left: -20px;
	transform: rotate(15deg);
}

.selector-half li {
	position: absolute;
	width: 0;
	height: 100%;
	margin: 0 50%;
	-webkit-transform: rotate(-360deg);
	transition: all 0.8s ease-in-out;
}

.selector-half li a {
	position: absolute;
	left: 50%;
	bottom: 95%;
	width: 0;
	height: 0;
	line-height: 1px;
	margin-left: 0;
	border-radius: 50%;
	text-align: center;
	font-size: 1px;
	box-shadow: none;
	transition: all 0.8s ease-in-out, color 0.1s, background 0.1s;
}
.selector-half li a i{
	transform: rotate(-15deg);
}

.selector-half li a:hover { color: #000; }

.selector-half.open li a {
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-left: -40px;
	font-size: 30px;
	color: #fff;
}

/*Feature personal*/
.feature-personal .slide-item.fullscreen{
	background:url(../images/multiscroll/feature-bg.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
}

.feature-personal .icon-holder{
	display: inline-block;
	vertical-align: top;
}

.feature-personal .icon-holder i{
	width: 91px;
	height: 91px;
	line-height: 91px;
	text-align: center;
	background: #FE4365;
	border-radius: 50%;
	font-size: 48px;
	color: #fff;
}

.feature-personal .feature-desc{
	display: inline-block;
	width: 76%;
}

.feature-personal .feature-desc .description h3{
	margin-bottom: 5px;
}

.feature-personal .width-right-50 .feature-desc{
	margin-left: 20px;
}

.feature-personal .width-left-50 .feature-desc{
	margin-right: 20px;
}

.feature-personal .section-heading{
	margin-bottom: 10px;
}

.feature-personal .feature-holder .feature-single{
	margin: 40px 0;
}
/*Feature personal end*/

/*portfolio personal*/
.swiper-personal1 {
	width: 630px;
	height: 100%;
	margin: 20px auto;
}

.swiper-personal1 img{
	width: 100%;
}

.swiper-personal1 .desc-holder{
	margin-top: 20px;
}

.swiper-personal1 .desc-holder ul{
	margin-bottom: 0;
}

.swiper-personal1 .desc-holder ul li{
	display: inline-block;
}

.swiper-personal1 .desc-holder ul li a{
	color: #ddd;
	font-size: 24px;
	font-size: 600;
}

.swiper-personal1 .desc-holder ul li:after{
	content: '/';
	margin: 0 10px;
	color: #ddd;
}

.swiper-personal1 .desc-holder ul li:last-child:after{
	display: none;
}

.swiper-personal1 .desc-holder h2{
	font-size: 72px;
	color: #333;
	font-weight: 700;
	margin-bottom: 10px;
}

.swiper-personal1 .desc-holder .btn.more{
	border-color: #FE4365;
	color: #FE4365;
	margin: 10px 0;
}

.swiper-personal1 .desc-holder .btn.more:hover{
	color: #FFF;
	background: #FE4365;
}

.swiper-personal1 .button-prev, 
.swiper-personal1 .button-next {
	position: absolute;
	top: auto;
	bottom: 60px;
	z-index: 10;
	cursor: pointer;
	background: #aaa;
	height: 50px;
	width:50px;
	line-height: 50px;
	border-radius: 50%;
	color: #fff;
	font-size: 20px;
	text-align: center;
}

.swiper-personal1 .button-prev:hover, 
.swiper-personal1 .button-next:hover {
	background: #FE4365;
}

.swiper-personal1 .button-next{
	left: 120px;
}
/*portfolio personal end*/

/*About personal*/

.about-personal .col-md-4{
	position: static;
}
.about-personal .width-right-50 .img-holder{
	position: absolute;
	left: 0px;
}

.about-personal .width-left-50 .img-holder{
	position: absolute;
	right: 0px;
}

.about-personal .blog-progress .progress-bar .bar{
	visibility: visible;
}

.about-personal .skill-holder h3{
	margin-bottom: 0;
	font-size: 24px;
	font-weight: 500;
}

.about-personal .skill-single .blog-progress {
	width: 80%;
	padding: 0;
	margin: 0;
	display: inline-block;
}

.about-personal .skill-single p{
	display: inline-block;
	margin-bottom: 0;
	width: auto;
	margin-left: 20px;
}

.about-personal .skill-single p:after{
	content: '%';
}

.about-personal .skill-single{
	margin-bottom: 20px;
}

.about-personal .blog-progress .progress-bar .bar{
	background: #FE4365;
}

.about-personal .width-left-50 p{
	font-size: 22px;
}

.about-personal .width-left-50 .btn.more{
	border-color: #FE4365;
	color: #FE4365;
}

.about-personal .width-left-50 .btn.more i{
	margin-right: 8px;
}

.about-personal .width-left-50 .btn.more:hover{
	background: #FE4365;
	color: #fff;
}
/*About personal end*/

/*contact-personal*/
.contact-personal .slide-item.fullscreen{
	background:url(../images/multiscroll/contact-bg.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
}

.contact-personal .contact-holder{
	position: relative;
	transform: translate(0,-45%);
	top: 45%;
}

.contact-personal .contact-holder h2{
	color: #fff;
	font-size: 48px;
	margin-bottom: 15px;
}

.contact-personal .contact-holder .btn.more{
	margin: 0;
	text-transform: uppercase;
}

.contact-personal .width-left-50 .contact-holder .btn.more{
	border-color: #fff;
	color: #FE4365;
}

.contact-personal .width-left-50 .contact-holder .btn.more:hover{
	color: #fff;
	background: transparent;
}

.contact-personal .width-right-50 .contact-holder .btn.more{
	background: #FE4365;
	border-color: #FE4365;
	color: #fff;
}

.contact-personal .width-right-50 .contact-holder .btn.more:hover{
	background: transparent;
	color: #FE4365;
}

/*contact-personal end*/

/*map personal*/
.map-personal .icon-holder,
.map-personal .desc-holder{
	display: inline-block;
}

.map-personal .icon-holder i{
	height: 75px;
	width: 75px;
	border-radius: 50%;
	border: 1px solid #fff;
	font-size: 34px;
	color: #fff;
	margin-right: 10px;
	line-height: 70px;
	text-align: center;
}

.map-personal .desc-holder h5{
	margin-bottom: 0;
	font-size: 16px;
	color: #fff;
	font-weight: 600px;
}

.map-personal .desc-holder p{
	margin-bottom: 0;
	color: #fff;
	font-size: 18px;
}

.map-personal .copyright{
	padding: 54px 0px;
}

.map-personal .copyright p{
	color: #fff;
	font-size: 18px;
	margin-bottom: 0;
}

.map-personal .copyright a{
	color: #fff;
}
/*map personal end*/

@media (max-width: 1199px){
	.swiper-personal1 .desc-holder h2 {
		font-size: 60px;
	}
	.about-personal .skill-single .blog-progress {
		width: 78%;
	}
	.feature-personal .feature-desc{
		width: 68%;
	}
	.swiper-personal1 .desc-holder h2 {
		font-size: 54px;
	}
}

@media (max-width: 1000px){

}

/*mobile view*/
.height-cover{
	height: 100vh;
}

.mobile-view{
	display: none;
}

@media (max-width: 991px){
	html, body {
		overflow:scroll !important;
	}

	.desktop-view{
		display: none;
	}

	.mobile-view{
		display: block;
	}

	/*Introduction div*/
	.mobile-view .menu-logo{
		position: relative;
		top: 30px;
	}

	.mobile-view .introduction-personal{
		background: #E33258 url(../images/multiscroll/multi-bg1.png) !important;
	}

	.introduction-personal .intro-personal {
		position: relative;
		transform: translate(0,-30%);
		top: 30%;
	}

	.introduction-personal .intro-personal.border h2 {
		color: #FFF;
	}

	.introduction-personal .intro-personal.border {
		border: 10px solid RGBA(255, 255, 255, 0.62);
		transform: translate(0);
		top: 0;
	}

	.menu-holder.half {
		top: 10px;
		right: 5px;
		left: auto;
		width: 45px;
		position: fixed;
		border-radius: 0;
	}

	.menu-holder.half  button{
		font-size: 24px;
		margin: 0;
		padding: 0;
		line-height: 34px;
	}

	.menu-holder.half::after{
		border-radius: 0;
		width: 45px;
		height: 45px;
	}

	/*Feature div */
	.feature-personal .feature-desc {
		display: block;
		width: 100%;
		margin-top: 15px;
	}

	/*about personal*/
	.about-personal .btn.more i{
		margin-right: 10px;
	}

	/*portfolio div */
	.portfolio-personal .container{
		overflow: hidden;
	}
	.swiper-personal1 {
		width: 100%;
		height: 100%;
		margin: 20px auto;
	}
	.swiper-personal1 .button-next,
	.swiper-personal1 .button-prev {
		position: absolute;
		top: 50%;
		width: 27px;
		height: 44px;
		margin-top: -22px;
		z-index: 10;
		cursor: pointer;
		-moz-background-size: 27px 44px;
		-webkit-background-size: 27px 44px;
		background-size: 27px 44px;
		background-position: center;
		background-repeat: no-repeat;
		background: none;
	}

	.swiper-personal1 .button-next:hover,
	.swiper-personal1 .button-prev:hover{
		background: none;
	}

	.swiper-personal1 .button-prev:hover{
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
	}

	.swiper-personal1 .button-prev{
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
		left: 10px;
		right: auto;
	}

	.swiper-personal1 .button-next{
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
		right: 10px;
		left: auto;
	}

	.swiper-personal1 .button-next:hover{
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
	}

	/*cta div */
	.cta-personal{
		background: #FE4365 url(../images/multiscroll/contact-bg.png);
		position: relative;
	}

	.cta-personal .container{
		z-index: 99;
	}

	.cta-personal h2{
		color: #fff;
		margin-bottom: 0;
	}

	.cta-personal .btn.more{
		margin-bottom: 0;
		background: transparent;
		border: 1px solid #fff;
		color: #fff;
	}

	.cta-personal .btn.more:hover{
		background: #fff;
		color: #FE4365;
	}

	.map-personal .copyright {
		padding: 16px 0;
	}
}

@media (max-width: 767px){

	/*Introduction div */
	.introduction-personal .height-cover{
		height: auto;
	}

	.introduction-personal .intro-personal {
		position: relative;
		transform: none;
		top: 0;
		margin-top: 80px;
	}

	.introduction-personal .intro-personal.border{
		float: none !important;
		margin: 40px 0;
	}

	.contact-holder{
		text-align: center;
	}
}

@media (max-width: 600px){
	.swiper-personal1 .desc-holder h2 {
		font-size: 46px;
	}
}
