/* footer-1 */
.footer-1 {
	background: #323A45;
}
.footer-link {
	padding: 80px 0 5px;
}

h3.footer-link-heading {
	color: #FFF;
    font-size: 20px;
    text-transform: uppercase;
}

.footer-link-top ul li {
	margin-bottom: 5px;
}

.footer-link-top ul li:hover:before {
    margin-left: 15px;
}

.footer-link-top ul li:before {
    content: '\f105';
    font-family: 'FontAwesome';
    color: #FFF;
    font-size: 18px;
    margin-right: 10px;
    transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    -webkit-transition: .5s all ease-in-out;
}
.footer-link-top ul li a {
    color: #CCCED0;
    font-size: 16px;
    font-weight: 400;
}

.footer-post {
	border-bottom: 1px solid #2E353F;
    padding-bottom: 20px;
}

.footer-post:last-child {
    border-bottom: 0;
}

.footer-post p.footer-post-header {
    color: #CCCED0;
    font-size: 16px;
    margin: 20px 0 0 0;
    font-weight: 500;
}

.footer-post p.footer-post-timer {
    margin-top: 5px;
    font-size: 12px;
    color: #556477;
    font-weight: 600;
    margin-bottom: 0;
}

.footer-post p.footer-post-timer:before {
    content: '\f017';
    font-family: 'fontawesome';
    font-weight: normal;
    margin-right: 7px;
}

.footer-address {
    background: url('../images/footer-addbg.png') no-repeat;
    background-position: 100% 0px;
}
.footer-address ul {
    padding-bottom: 20px;
    margin: 0;
}
.footer-address ul li {
    font-size: 16px;
    color: #DDD;
    font-weight: 500;
    margin-bottom: 15px;
}

.footer-address ul li:before {
    font-size: 20px;
    margin-right: 15px;
}

.footer-address ul li.mapper:before {
	content: '\f041' !important;
    font-family: 'fontawesome';
}

.footer-address ul li.phoner:before {
	content: '\f095' !important;
    font-family: 'fontawesome';
}

.footer-address ul li.enveloper:before {
	content: '\f003' !important;
    font-family: 'fontawesome';
}

.footer-runner {
	border: 1px dashed #434A54;
    padding: 10px 0 20px;
}

.footer-runner p {
    margin: 0;
}
.footer-link p.footer-counter {
    font-size: 32px;
    color: #FFF;
    font-weight: 700;
    margin-bottom: 5px;
}
.footer-link p.footer-counter-text {
    color: #59687B;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-social {
    width: 95%;
    margin: 10px auto 0;
}
.footer-social ul a {
	color: #CCCED0;
	font-size: 16px;
	font-weight: 400;
}
.footer-social ul {
    padding: 35px;
    background: url('../images/footer-bg.png') no-repeat;
    margin-bottom: 0;
    background-size: contain;
}
.footer-social ul li {
    display: inline-block;
    margin-right: 45px;
    vertical-align: top;
}
.footer-social ul li.f-facebook:before {
    color: #FFF;
    content: '\f09a';
    font-family: 'fontawesome';
    width: 60px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    background: #3B5997;
    text-align: center;
    margin-right: 20px;
    font-size: 22px;
}
.footer-social ul li.r-rss:before {
    color: #FFF;
    content: '\f09e';
    font-family: 'fontawesome';
    width: 60px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    background: #EE802F;
    text-align: center;
    margin-right: 20px;
    font-size: 22px;
}

.footer-social ul li.f-form {
    width: 50%;
    margin-right: 0;
}

.footer-social form {
    margin-bottom: 0;
}

.footer-social .footer-input {
    position: relative;
}

.footer-social .footer-input input {
    background: #2E353F;
    color: #4D596A;
    height: 50px;
    width: 100%;
    padding-left: 75px;
    border: 0;
}

.footer-social span.footer-plane {
    position: absolute;
    left: 0;
    top: 0;
}

.footer-social span.footer-plane i {
    width: 60px;
    height: 50px;
    line-height: 50px;
    background: #2B313B;
    text-align: center;
    color: #92959A;
    font-size: 20px;
}

.footer-social span.footer-cta {
    position: absolute;
    right: 0;
    top: 0;
}

.footer-social span.footer-cta button {
    background: #FF4530;
    border: 0;
    border-radius: 0;
    color: #FFF;
    font-size: 13px;
    font-weight: 700;
    height: 50px;
    padding: 0 15px;
    text-transform: uppercase;
}

.footer-social span.footer-cta button:hover {
    background: #C8411D;
}

.copyright {
    background: #2E353F;
}
.copyright-1 {
    padding: 20px 0;
}
.copyright-1 .copyright-logo ul {
    margin-bottom: 0;
}
.copyright-1 .copyright-logo ul li {
    color: #4C596A;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-weight: 500;
}
.copyright-1 .copyright-logo ul li.logo a {
    color: #343C47;
    font-size: 40px;
    font-weight: 700;
}
.copyright-1 .copyright-logo ul li.copyright-text a {
    color: #DDD;
    font-weight: 600;
}
.copyright-1 .copyright-social ul {
    text-align: right;
    margin: 15px 0 0;
}
.copyright-1 .copyright-social ul li {
    display: inline-block;
    margin-right: 20px;
}

.copyright-1 .copyright-social ul li a {
    color: #4D596A;
    font-size: 20px;
}

/* #footer-1 end */

/* #media-queries begin */
@media screen and (max-width:420px) {
    /* #footer-1 begin */
    .footer-social .footer-input input {
        height: 45px;
        padding-left: 50px;
    }

    .footer-social span.footer-plane i {
        width: 45px;
        height: 45px;
        line-height: 45px;
        font-size: 14px;
    }

    .footer-social span.footer-cta button {
        font-size: 12px;
        height: 45px;
        padding: 0 10px;
    }
    /* #footer-1 end */
}

@media screen and (max-width:767px) {
    /* #footer-1 begin */
    .footer-link-top ul {
        margin-bottom: 40px;
    }

    .footer-post:last-child {
        margin-bottom: 50px;
    }

    .footer-social {
        margin-top: 30px;
    }

    .footer-social ul {
        background: none;
        padding: 10px 5px;
    }

    .footer-social ul li {
        margin-bottom: 20px;
    }

    .footer-social ul li.f-form {
        margin-top: 20px;
        width: 100%;
    }

    .footer-runner {
        padding: 10px 0 0;
    }

    .footer-runner p.footer-counter-text {
        margin-bottom: 40px;
    }

    .copyright-1 .copyright-logo ul li {
        text-align: center;
        width: 100%;
    }
    .copyright-1 .copyright-logo ul li.copyright-text {
        margin-top: 10px;
    }

    .copyright-1 .copyright-social ul {
        text-align: center;
        margin: 20px 0 0;
    }
    /* #footer-1 end */
}

@media only screen and (min-width:767px) and (max-width: 991px) {
    /* #footer-1 begin */
    .footer-link-top ul {
        margin-bottom: 40px;
    }

    .footer-social ul {
        padding: 15px 10px;
    }

    .footer-social ul li {
        margin-right: 12px;
    }

    .footer-social ul li.f-facebook::before {
        width: 45px;
        height: 45px;
        line-height: 45px;
        margin-right: 10px;
        font-size: 16px;
    }

    .footer-social ul li.r-rss::before {
        width: 45px;
        height: 45px;
        line-height: 45px;
        margin-right: 10px;
        font-size: 14px;
    }

    .footer-social ul li.f-form {
        width: 42%;
    }

    .footer-social .footer-input input {
        height: 45px;
        padding-left: 50px;
        font-size: 13px;
    }

    .footer-social span.footer-plane i {
        width: 45px;
        height: 45px;
        line-height: 45px;
        font-size: 14px;
    }

    .footer-social span.footer-cta button {
        font-size: 12px;
        height: 45px;
        padding: 0 5px;
    }
}

@media only screen and (min-width:992px) and (max-width: 1199px) {
    .footer-social ul {
        padding: 25px 15px;
    }

    .footer-social ul li {
        margin-right: 15px;
    }

    .footer-social ul li.f-form {
        width: 48%;
    }
}
/* #media-queries end */


/* footer-2 begins */
.footer-2 {
    background: #f9f9f9;
}
.footer-2 h3.footer-link-heading {
    color: #2D343F;
    text-transform: initial;
    margin-bottom: 25px;
}

.footer-2 a.footer-2-logo {
    display: inline-block;
    margin: 50px auto 0;
    width: 100%;

}

.footer-2 .footer-link-top ul li:before {
    content: '';
    margin: 0;
}

.footer-2 .footer-link-top ul a {
    color: #323945;
}

.footer-2 .footer-link-top ul a:hover {
    text-decoration: underline !important;
}

.footer-2 p.footer-post-header {
    color: #545454;
}

.footer-2 p.footer-post-timer {
    color: #888;
}

.footer-link p.big-phone {
    color: #FF4530;
    font-size: 28px;
    font-weight: 600;
}


.footer-2 .footer-address {
    background: transparent;
}

.footer-2 .footer-address ul li {
    color: #555;
}

.footer-2 .footer-address ul li:before {
    color: #555;
    margin-right: 15px;
}

.footer-2 .copyright-social ul li {
    display: inline-block;
    margin: 0;
}

.footer-2 .copyright-social ul li:first-child {
    margin-left: 0;
}

.footer-2 .copyright-social ul li:last-child {
    margin-right: 0;
}

.footer-2 .copyright-social ul a {
    color: #555;
    font-size: 16px;
    display: inline-block;
}
.footer-2 .copyright-social ul i {
    border: 1px solid #DDD;
    height: 41px;
    width: 41px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    -webkit-transition: .5s all ease-in-out;
}
.footer-2 .copyright-social ul a:hover i {
    color: #A5A7AB;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
}

.footer-2 .footer-post {
    border-bottom: 1px dashed #DDD;
}

.footer-2 .footer-post:last-child {
    border: 0;
}

.footer-2 p.footer-counter {
    font-size: 32px;
    color: #222;
    font-weight: 700;
    margin-bottom: 5px;
}
.footer-2 p.footer-counter-text {
    color: #333;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-2 .footer-social {
    padding: 50px 0;
}

.footer-2 .footer-social .border-counter {
    border: 1px dashed #EEE;
    padding: 15px 0;
}

.footer-2 .footer-social ul {
    padding: 0;
    background: transparent;
}

.footer-2 .footer-social ul li.f-form {
    width: 100%;
}

.footer-2 .footer-social .footer-input input {
    padding-left: 20px;
    background: transparent;
    border: 1px solid #DDD;
}

.footer-2 .copyright {
    background: #F9F9F9;
    padding: 20px 0;
}

.footer-2 li.copyright-text {
    color: #96999F;
}

.footer-2 li.copyright-text a {
    color: #7D7D7D;
}

.footer-2 .copyright ul {
    margin-bottom: 0
}

.copyright .copyright-navlinks ul li {
    display: inline-block;
}

.copyright .copyright-navlinks ul li:after {
    display: inline-block;
    vertical-align: middle;
    content: '';
    border: 1px solid #DDD;
    height: 15px;
    transform: skewX(-20deg);
    margin: 0 15px;
}

.copyright .copyright-navlinks ul li:last-child:after {
    display: none;
}

.copyright .copyright-navlinks ul a {
    color: #96999F;
}

.copyright-2 a:hover {
    color: #413c3c !important;
}
/* footer-2 ends */

/* footer-3 begins */
.footer-3 {
    background: #222 url('../images/footer3-bg.png') no-repeat;
    background-size: cover;
    position: relative;
}
.footer-3 .footer-link {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
}
.footer-3 .section-heading h2 {
    color: #FFF;
    font-weight: normal;
    margin-bottom: 15px;
}
.footer-3 .section-para {
    margin-bottom: 50px;
}
.footer-3 .section-para p {
    color: #BABABA;
    margin: 0;
}
.app-buttons ul {
    margin-bottom: 0;
}
.app-buttons ul li {
    display: inline-block;
    margin: 0 10px;
}
.app-buttons ul a {
    border: 1px solid #484848;
    border-radius: 18px;
    color: #FFF;
    display: inline-block;
    padding: 10px 30px;
}
.app-buttons ul span.block {
    float: right;
}
.app-buttons ul span.download-text,
.app-buttons ul span.store-text {
    display: block;
}
.app-buttons ul span.download-text {
    color: #EEE;
    font-size: 18px;
    margin-bottom: -7px;
}
.app-buttons ul span.store-text {
    font-size: 32px;
    color: #FFF;
    font-weight: 600;
}
.app-buttons ul i {
    font-size: 48px;
    margin-right: 30px;
    line-height: 65px;
}
.footer-newsletter {
    margin-top: 50px;
}
.footer-newsletter h3 {
    font-size: 48px;
    font-weight: normal;
    margin-bottom: 10px;
}
.footer-newsletter .newsletter-input {
    display: inline-block;
    position: relative;
    width: 50%;
}
.footer-newsletter .newsletter-input input {
    width: 100%;
    height: 55px;
    color: #868686;
}
.footer-newsletter .newsletter-button {
    position: absolute;
    right: 0;
    top: 0;
}
.footer-newsletter .newsletter-button button {
    background: #19A8D6;
    border: 0;
    border-radius: 0;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    height: 55px;
    padding: 0 40px;
    text-transform: uppercase;
}
.footer-newsletter .newsletter-button button:hover{
    background`: #056584;
}
.footer-3 .footer-social {
    width: auto;
    margin: 0 0 25px 0;
}
.footer-3 .footer-social ul {
    background: transparent;
    padding: 0;
}
.footer-3 .footer-social ul a {
    color: #444;
    font-size: 24px;
}
.footer-3 .copyright {
    background: transparent;
    border-top: 1px solid #222;
}
.footer-3 .copyright-3 {
    padding: 20px 0;
}
.footer-3 .copyright-logo h2 {
    margin-bottom: 5px;
}
.footer-3 .copyright-logo h2 a {
    color: #212326;
    font-size: 40px;
    font-weight: 700;
}
.footer-3 .copyright-text p {
    color: #4C596A;
    margin-bottom: 0;
}
.footer-3 .copyright-text p a {
    color: #FFF;
}
/* footer-3 ends */