.ecommerce-advertise .bg-blue{
	background: #0085B2;
}

.ecommerce-advertise .bg-white{
	background: #F1F1F1;
}

.border{
  border: 1px solid #eee;
}

.border .tag{
	width: 75px;
	height: 75px;
	border-radius: 50%;
	line-height: 75px;
	position: absolute;
	top:25px;
	left: 25px;
	color: #fff;
	text-transform: uppercase;
	z-index:999;
}

.border .tag.sale{
	background: #D9121F;
}

.border .tag.new{
	background: #0085B2;
}

.border .tag.offer{
	background: #30A5A5;
}

