/*specific css for legal*/
.bg-dark{
	background: #222222;
}

/*blog content*/
.latest-news1 .news-heading {
    padding-bottom: 10px;
    padding-top: 12px;
} 

.latest-news1 .news-para{
	padding-bottom: 10px;
}

.latest-news1 .thumb-holder{
	height: 60px;
	width: 60px;
	position: absolute;
	bottom: -24px;
	left: 50%;
	transform: translate(-50%,0px);
}

.latest-news1 .thumb-holder img {
    border-radius: 50%;
    position: static;
    bottom: 0;
    border: none;
}

@media (max-width: 767px){
	.latest-news1 .latest-single {
	    width: 370px;
	    margin: 0 auto;
	}
}
@media (max-width: 400px){
	.latest-news1 .latest-single {
	    width: 100%;
	}
}

/*Counter*/
.section-wrapper-lg {
    padding: 120px 0;
}

