/*menu real-estate*/
.navbar-consulting .header-nav {
	padding-bottom: 0;
}

.navbar-absolute-top .header-top {
	margin-bottom: 0;
}

.navbar-consulting .mega-menu .menu-search-bar {
	float: left;
}
.navbar-consulting .mega-menu .btn.book{
	border-radius: 0px;
	margin-top: 10px;
	background: rgb(255, 128, 0) none repeat scroll 0% 0%;
	text-transform: uppercase;
}
.navbar-consulting .mega-menu .menu-links > li > a {
	padding: 0 18px;
}

.cart span {
	background: rgb(255, 128, 0);
}

@media (max-width: 1199px){
	.navbar-consulting .mega-menu .menu-links > li > a {
		padding: 0px 13px;
	}
	.navbar-consulting .mega-menu .menu-links > li > a i.fa.fa-indicator{
		display: none;
	}
}

@media (max-width: 991px){
	.navbar-consulting .mega-menu .menu-links > li > a i.fa.fa-indicator{
		display: block;
	}
}

#menu-5.mega-menu .menu-list-items{
	margin-bottom: 0;
}
/*menu real-estate end*/

