/*specific css*/
/*heading*/

.section-heading h2 {
    color: #222;
    font-weight: 600;
}

p.orange{
	color: #FF7F00;
	font-size: 21px;
	font-family: 'Pacifico', cursive;
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.section-para p,
p{
	color: #545454;
}