canvas {
    display: block;
    vertical-align: bottom;
}


/* */
#particles-js canvas{
    background: #17212D;
    position: fixed;
    top:0;
}

.countdown-div {
    color: #FFF;
}

.countdown-div h2.coming-header1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.countdown-div p.coming-para1 {
    font-size: 24px;
}

ul.countdown {
    margin: 40px 0 30px;
    padding: 0;
    display: block;
    text-align: center;
}

ul.countdown li {
    display: inline-block;
    margin: 0 15px;
}

ul.countdown li span {
    border-radius: 7px;
    display: inline-block;
    font-size: 72px;
    font-weight: 700;
    position: relative;
    height: 122px;
    line-height: 112px;
    width: 125px;
}

ul.countdown li span:before {
    content: '';
    top: -2px;
    display: block;
    background: #FFF;
    height: 2px;
    width: 17px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

ul.countdown li span:after {
    content: '';
    bottom: -2px;
    display: block;
    background: #FFF;
    height: 2px;
    width: 17px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

ul.countdown li span.bg-red {
    background: #FA5559;
}

ul.countdown li span.bg-green {
    background: #2CCC72;
}

ul.countdown li span.bg-yellow {
    background: #ECB65C;
}

ul.countdown li span.bg-blue {
    background: #1b7883;
}

ul.countdown li p {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin: 10px;
    text-transform: uppercase;
    opacity:0.35;
}

@media (max-width: 992px) {

}
