.portfolio.section-wrapper{
	padding-bottom: 0;
}
.portfolio .container-fluid{
	padding: 0;
	margin: 0;
}

.button-group .button {
	display: inline-block;
	background: #FCFAF8;
	border: 2px solid #ADADAD;
	color: #555;
	text-transform: uppercase;
	padding: 12px 35px;
	border-radius: 3px;
	font-weight: 600;
	margin-top: 30px;
	cursor: pointer;
	margin-right: 1px;
	margin-bottom: 30px;
	font-size: 16px;
}

.button-group .button:hover,
.button-group button.is-checked {
	color: #3781B2;
	border: 2px solid #3781B2;
} 

.portfolio-grid.grid {
	margin-top: 30px;
	background: #fff;
	overflow: hidden;
}

.portfolio-grid .element-item {
	position: relative;
	overflow: hidden;
}

.element-item.long-width{
	width: 39.8%;
}

.element-item{
	width: 29.6%;
}
.grid-sizer{
	width: 10%;
}

.element-item{
	float: left;
}

.portfolio-grid .element-item img{
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
}

.portfolio-grid .element-item  .overlay {
	display: block;
	position: absolute;
	z-index: 20;
	background: rgba(193, 211, 227, 0.85);
	overflow: hidden;
	transition: all 0.5s;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	height:100%;
	width:100%;
}

.portfolio-grid .element-item  .overlay.green{
	background: rgba(0, 64, 16, 0.6);
}

.portfolio-grid .element-item .overlay a.expand {
	position: absolute;
	z-index: 100;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-size:30px;
	background: #fff;
	color:#555;
	margin: auto;
	width: 80px;
	height: 80px;
	line-height:80px;
	transform: scale(0);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.portfolio-grid .element-item .overlay .description{
	position: absolute;
	width:100%;
	color:#555;
	font-weight: 600;
	font-size:18px;
	bottom:5%;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.portfolio-grid .element-item  .overlay.green .description p{
	color: #fff;
}

.portfolio-grid .element-item .overlay a.link {
	display: block;
	position: absolute;
	z-index: 100;
	top: 5px;
	right:5px;
	font-size:20px;
	background: #fff;
	color:#555;
	margin: auto;
	width: 40px;
	height: 40px;
	line-height:40px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.portfolio-grid .element-item:hover .overlay {
	opacity: 1;
}

.portfolio-grid .element-item:hover .overlay a.expand {
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);

}

.portfolio-slider{
	overflow-x: auto;
	white-space: nowrap;
	display: block
}

.portfolio-slider .image-holder{
	white-space:nowrap;
	display: inline-block;
	border:2px solid #eee;
}

.portfolio-slider .mCSB_scrollTools.mCSB_scrollTools_horizontal{
	width:500px;
	margin: 0 auto;
}

.portfolio-slider .mCSB_draggerRail:before{
	content: '';
	position: absolute;
	height: 11px;
	border: 1px solid #C5BDBD;
	top: 3px;
	left: -3px;
	width: 101%;
	border-radius: 3px;
}

.portfolio-slider .mCS-rounded-dark.mCSB_scrollTools .mCSB_draggerRail{
	height:5px;
	background: #C5BDBD;
}

.portfolio-slider .mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background: #fff;
	border: 2px solid #C5BDBD;
}
.portfolio-slider .mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:#fff;
}

.portfolio-slider .mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width: 20px;
}

.portfolio-slider .mCS-rounded-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar{
	height:20px;
	margin: -1px 0;
}

.portfolio-slider{
	padding-bottom: 30px;
}

.portfolio .section-wrapper{
	margin-bottom: 60px;
}

@media (max-width: 992px) {
	.button-group .button {
		font-size: 14px;
		padding: 12px 24px;
	}
}

@media (max-width: 768px) {
	.element-item.long-width {
		width: 49.8%;
	}
	.element-item {
		width: 49.6%;
	}
	.button-group .button {
		margin-bottom: 0;
		margin-top: 24px;
	}
}
@media (max-width: 600px) {
	/*agency portfolio*/
	.portfolio-slider .mCSB_scrollTools.mCSB_scrollTools_horizontal{
		width:80%;
	}
}
@media (max-width: 480px){
	.element-item.long-width {
		width: 100%;
	}
	.element-item {
		width:100%;
	}

}

/*portfolio travel*/
.portfolio-travel.section-wrapper,
.portfolio-travel .section-wrapper{
	padding-bottom: 0;
}

.portfolio-travel .portfolio-holder{
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}

.portfolio-travel .portfolio-holder .image-holder{
	position: relative;
	overflow: hidden;
}

.portfolio-travel .portfolio-holder .image-holder img{
	display: block;
}

.portfolio-travel .portfolio-holder .image-holder:after{
	content: '';
	background: rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	left: 0;
	z-index: 1;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}

.portfolio-travel .portfolio-holder .image-holder:hover:after{
	background: rgba(0, 163, 216, 0.8);
}

.portfolio-travel .portfolio-desc{
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	z-index:2;
}
.portfolio-travel .portfolio-desc a {
	color: #fff;
	margin-bottom: 0;
	font-size: 48px;
}
.portfolio-travel .btn.more{
	border: 1px solid #fff;
	border-radius: 30px;
	padding: 12px 20px;
	color: #00A3D8;
	font-size: 14px;
	display: none;
	position: absolute; 
	z-index: 2;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-40%);
}

.portfolio-travel .portfolio-holder .image-holder:hover .btn.more{
	display: block;
}

.portfolio-travel .btn.more:hover{
	background: transparent;
	color: #fff;
}

/*portfolio plumber*/

/*Portfolio plumber Grid*/
.portfolio-plumbing.section-wrapper{
	padding-bottom: 60px;
}

.portfolio-plumbing .button-group .button{
	border: 2px solid transparent;
}

.portfolio-plumbing .button-group .button:hover, 
.portfolio-plumbing .button-group button.is-checked{
	background: #F0542D;
	border-radius: 30px;
	color: #fff;
	border: 2px solid #F0542D;
}
.portfolio-plumbing .portfolio-grid .grid-sizer,
.portfolio-plumbing .portfolio-grid .element-item {
	width: 33.333%;
}

.portfolio-plumbing .portfolio-grid .element-item {
	float: left;
}

.portfolio-plumbing .portfolio-grid .element-item img {
	display: block;
	max-width: 100%;
}

.portfolio-plumbing .portfolio-grid .element-item{
	position: relative;
}

.portfolio-plumbing .portfolio-grid .element-item:after{
	content: '';
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: rgba(0,0,0, 0.33);
}

.portfolio-plumbing .portfolio-grid.grid{
	background: #FCFAF8;
}

/*portfolio Plumbing end*/

/*fashion portfolio*/
.gallery-fashion .button-group button {
	background: transparent; 
	border-radius: 0; 
	color: #535353;
	font-weight: 700;
	border: 0;
	font-size: 18px;
	padding: 12px 20px;
}

.gallery-fashion .button-group button.is-checked:after,
.gallery-fashion .button-group button:hover:after {
	content: '';
	display: block;
	height: 5px;
	background: #535353;
	margin-top: 10px;
}

.gallery-fashion .button-group button:hover {
	border: 0;
	color: #535353;
}

.gallery-fashion .gallery-grid .grid-sizer,
.gallery-fashion .gallery-grid .element-item {
	width: 25%;
}

.gallery-fashion .gallery-grid .element-item {
	float: left;
	padding: 3px;
}

.gallery-fashion .gallery-grid .element-item img{
	width: 100%;
}

.gallery-fashion .gallery-grid .element-item .description h3{
	margin: 15px;
	font-size: 20px;
}

.gallery-fashion .gallery-grid .element-item .description h3 a{
	color: #333;
}

.gallery-fashion .gallery-grid .element-item .description p{
	margin-bottom: 0;
	color: #999;
}

.gallery-fashion .gallery-grid .element-item .description p:after{
	content: '';
	display: block;
	margin: 15px auto;
	height: 4px;
	width: 40px;
	background: #535353;
}

@media (max-width: 991px) {
	.gallery-fashion .gallery-grid .grid-sizer,
	.gallery-fashion .gallery-grid .element-item {
		width: 33.3%;
	}
}

@media (max-width: 767px) {
	.gallery-fashion .gallery-grid .grid-sizer,
	.gallery-fashion .gallery-grid .element-item {
		width: 50%;
	}
}
@media (max-width: 767px) {
	.gallery-fashion .gallery-grid .grid-sizer,
	.gallery-fashion .gallery-grid .element-item {
		width: 100%;
	}
}
/*fashion portfolio end*/

/*photography content*/
.show #content .container-fluid{
	padding-left: 300px;
	transition: all 1s ease-in-out;
}

#content .container-fluid{
	padding-left: 0;
	transition: all 1s ease-in-out;
}

.photographer-gallery .button-holder{
	position: fixed;
	top: 0;
	left: 100px;
	z-index: 9;
	transition: all 1s ease-in-out;
}

.show .photographer-gallery .button-holder{
	left: 320px;
	transition: all 1s ease-in-out;
}

.photographer-gallery .grid-photograph .grid-sizer,
.photographer-gallery .grid-photograph .grid-item {
	width: 33.333%;
	transition: all 2s ease-in-out;
}
.photographer-gallery .grid-photograph.full_width .grid-sizer{
	width: 100%;
}
.photographer-gallery .grid-photograph.full_width .grid-item {
	width: 100%;
	transition: all 2s ease-in-out;
}

.photographer-gallery .grid-photograph .grid-item {
	float: left;
	position: relative;
}
.photographer-gallery .grid-photograph .grid-item a{
	position: relative;
	display:block;
	cursor: crosshair;
}

.photographer-gallery .grid-photograph .grid-item a:after{
	content: '';
	background: rgba(0, 0, 0, 0.46);
	position: absolute;
	top:0;
	height: 100%;
	width: 100%;
	left: 0;
}

.photographer-gallery .grid-photograph .grid-item img {
	display: block;
	width: 100%;
}

.photographer-gallery .button-holder .btn.more{
	margin: 10px 0;
	background: #000;
	border-radius: 0;
	color: #fff;
	border: 1px solid #000;
	padding: 10px;
}

.photographer-gallery .button-holder .btn.more span.active{
	display: block;
}

.photographer-gallery .button-holder .btn.more span{
	display: none;
}

.photographer-gallery .button-holder .btn.more i{
	margin-right: 10px;
	border-right: 2px solid rgba(255, 255, 255, 0.2);
	padding-right: 10px;
}

.photographer-gallery .button-holder .btn.more.alter{
	background: #eee;
	color: #000;
	border-color: #eee;
}
.photographer-gallery .button-holder .btn.more.alter i{
	border-right: 2px solid rgba(16, 19, 19, 0.2);
}

@media(max-width: 991px) {
	.show #content .container-fluid{
		padding-left: 0;
		transition: all 1s ease-in-out;
	}

	.photographer-gallery .button-holder {
		top: 100px;
	}

	.show .photographer-gallery .button-holder{
		left: 10px;
	}
}

@media (max-width: 768px){
	.photographer-gallery .grid-photograph .grid-sizer,
	.photographer-gallery .grid-photograph .grid-item {
		width: 50%;
	}
}
@media (max-width: 500px){
	.photographer-gallery .grid-photograph .grid-sizer,
	.photographer-gallery .grid-photograph .grid-item {
		width: 100%;
	}
	.photographer-gallery .button-holder{
		display: none;
	}
}
/*photography content end*/

/*wedding portfolio*/
.portfolio-wedding.section-wrapper{
	margin-bottom: -30px;
}
.portfolio-wedding{
	position: relative;
	background:url(../../images/portfolio/wedding-bg.jpg) center;
	background-attachment: fixed
}

.portfolio-wedding:after{
	content: '';
	position: absolute;
	background:  rgba(220, 1, 33, 0.9);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index:1;
}
.portfolio-wedding .container{
	z-index: 9;
}

.portfolio-wedding .scale{
	transform: scale(1.05);
	box-shadow: 0 0 6px 1px RGBA(64, 0, 0, 0.51);
	z-index: 9;
}

.portfolio-wedding .section-heading h3{
	font-size: 32px;
	margin-top: 20px;
}

.portfolio-wedding .section-heading h3:after{
	margin: 10px auto 15px;
	background: #DA1432;
	height: 3px;
}

.portfolio-wedding h4{
	font-size: 18px;
	color: #222;
	margin-bottom: 0;
	text-transform: uppercase;
}

.portfolio-wedding  .col-md-4 p{
	color: #545454;
	font-size: 18px;
	margin-bottom: 30px;
}

.portfolio-wedding .btn.detail{
	border-radius: 0;
	text-transform: uppercase;
	padding: 12px 30px;
	margin-bottom: 30px;
	background: #DA1432;
	color: #fff;
}

.portfolio-wedding .btn.detail:hover{
	background: #EC2846;
}
@media(max-width: 991px) {
	.portfolio-wedding .tmargin-lg {
		margin-top: 0 !important;
	}
	.portfolio-wedding .scale {
		transform: scale(1);
		box-shadow: none;
		z-index: 9;
	}
}
/*wedding portfolio end*/

/*story wedding*/
.story-wedding{
	overflow: hidden;
}
.story-wedding .story-holder{
	position: relative;
	display:block;
}

.story-wedding .story-holder .story-single{
	overflow: hidden;
	padding: 40px 0;
}

.story-wedding .story-holder .story-single:before{
	content: '';
	height: 100%;
	width: 2px;
	background: #000;
	display: block;
	margin: 0 auto;
	position: absolute;
	top:0;
	left: 50%;
	transform: translate(-50%,0);
}

.story-wedding .story-holder .story-single .date{
	width: 120px;
	height: 120px;
	background: #E70123;
	color: #fff;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	font-size: 20px;
	font-weight: 600;
	padding: 16px;
	position: relative;
	z-index: 99;
	transform: translate(0,50%);
	border: 10px solid #F4F6F8;
	line-height: 1.2;
}

.story-wedding .story-holder .story-single .date:after,
.story-wedding .story-holder .story-single .date:before{
	content: '';
	position: absolute;
	height:8px;
	width: 8px;
	border-radius: 50%;
	background: #000;
	left: 50%;
	transform: translate(-50%,0);
}

.story-wedding .story-holder .story-single .image-holder{
	height: auto;
	width: 300px;
	border: 10px solid #fff;
}

.story-wedding .story-holder .story-single .date:after{
	bottom: -15px;
}

.story-wedding .story-holder .story-single .date:before{
	top:-15px;
}

.story-wedding .story-holder .story-single:last-child .date{
	transform: translate(0);
}

.story-wedding .story-holder .story-single .date span{
	font-size: 38px;
}

.story-wedding .story-holder .story-single h5{
	font-size: 24px;
	color: #333;
}

@media(max-width: 991px){
	.story-wedding .story-holder .story-single .date {
		margin:0;
	}
	.story-wedding .story-holder .story-single::before {
		left: 59px;
		transform: translate(0);
	}
	.story-wedding .col-md-5{
		margin-left: 200px;
	}
	.story-wedding .fleft,
	.story-wedding .fright{
		float: none !important;
	}
	.story-wedding .tleft,
	.story-wedding .tright{
		text-align: left !important;
	}
}
@media(max-width: 600px){
	.story-wedding .col-md-5{
		margin-left: 150px;
	}
}
/*story wedding end*/
